In [36]:
from io import StringIO
import pandas as pd
import re
import numpy as np

text = """
dno   dname   dloc       
10    ä¼šè®¡éƒ¨   åŒ—äº¬
20    ç ”å‘éƒ¨   æˆéƒ½
30    é”€å”®éƒ¨   é‡åº†
40    è¿ç»´éƒ¨   æ·±åœ³
"""
text2 = """
eno     ename    job        mgr      sal     comm    dno
1359    èƒ¡ä¸€åˆ€    é”€å”®å‘˜      3344.0    1800    200.0    30
2056    ä¹”å³°      åˆ†æå¸ˆ      7800.0    5000    1500.0   20
3088    æè«æ„    è®¾è®¡å¸ˆ      2056.0    3500    800.0    20
3211    å¼ æ— å¿Œ     ç¨‹åºå‘˜     2056.0    3200    NaN     20
3233    ä¸˜å¤„æœº     ç¨‹åºå‘˜     2056.0    3400    NaN     20
3244    æ¬§é˜³é”‹     ç¨‹åºå‘˜     3088.0    3200    NaN     20
3251    å¼ ç¿ å±±     ç¨‹åºå‘˜     2056.0    4000    NaN     20
3344    é»„è“‰      é”€å”®ä¸»ç®¡    7800.0    3000    800.0   30
3577    æ¨è¿‡      ä¼šè®¡       5566.0    2200     NaN     10
3588    æœ±ä¹çœŸ     ä¼šè®¡       5566.0    2500    NaN     10
4466    è‹—äººå‡¤     é”€å”®å‘˜     3344.0    2500    NaN     30
5234    éƒ­é–       å‡ºçº³      5566.0    2000    NaN      10
5566    å®‹è¿œæ¡¥     ä¼šè®¡å¸ˆ     7800.0    4000    1000.0   10
7800    å¼ ä¸‰ä¸°     æ€»è£       NaN      9000    1200.0    20
"""
text3 = """
eno    ename    job      mgr      sal    comm    dno                              
9500   å¼ ä¸‰ä¸°   æ€»è£      NaN      50000  8000    20
9600   ç‹å¤§é”¤   ç¨‹åºå‘˜    9800.0   8000   600     20
9700   å¼ ä¸‰ä¸°   æ€»è£      NaN      60000  6000    20
9800   éª†æ˜Š     æ¶æ„å¸ˆ    7800.0   30000  5000    20
9900   é™ˆå°åˆ€   åˆ†æå¸ˆ    9800.0   10000  1200    20
"""

# ä½¿ç”¨read_csvé…åˆStringIOæ¥æ­£ç¡®è§£ææ•°æ®
# å¯¹äºç©ºæ ¼åˆ†éš”çš„æ•°æ®ï¼Œä½¿ç”¨raw stringæˆ–è€…re.compileæ¥é¿å…è½¬ä¹‰è­¦å‘Š
df = pd.read_csv(StringIO(text.strip()), sep=r"\s+")
df2 = pd.read_csv(StringIO(text2.strip()), sep=r"\s+")
df3 = pd.read_csv(StringIO(text3.strip()), sep=r"\s+")

# è®¾ç½®dnoä¸ºindex
df.set_index("dno", inplace=True)

# ä¿å­˜æ–‡ä»¶æ—¶å¤„ç†ç©ºå€¼é—®é¢˜
df.to_csv("dept.csv")
df2.to_csv("emp_df.csv", index=False, na_rep="NaN")  # ç©ºå€¼ç”¨ç©ºå­—ç¬¦ä¸²è¡¨ç¤ºï¼Œé¿å…è¿ç»­é€—å·
df3.to_csv("emp2_df.csv", index=False, na_rep="NaN")  # ç©ºå€¼ç”¨ç©ºå­—ç¬¦ä¸²è¡¨ç¤ºï¼Œé¿å…è¿ç»­é€—å·

In [37]:
emp = pd.read_csv("./emp_df.csv", index_col="eno")
emp2 = pd.read_csv("./emp2_df.csv", index_col="eno")
dept = pd.read_csv("./dept.csv", index_col="dno")
print(emp)
print("=" * 50)
print(emp2)
print("=" * 50)
print(dept)

     ename   job     mgr   sal    comm  dno
eno
1359   èƒ¡ä¸€åˆ€   é”€å”®å‘˜  3344.0  1800   200.0   30
2056    ä¹”å³°   åˆ†æå¸ˆ  7800.0  5000  1500.0   20
3088   æè«æ„   è®¾è®¡å¸ˆ  2056.0  3500   800.0   20
3211   å¼ æ— å¿Œ   ç¨‹åºå‘˜  2056.0  3200     NaN   20
3233   ä¸˜å¤„æœº   ç¨‹åºå‘˜  2056.0  3400     NaN   20
3244   æ¬§é˜³é”‹   ç¨‹åºå‘˜  3088.0  3200     NaN   20
3251   å¼ ç¿ å±±   ç¨‹åºå‘˜  2056.0  4000     NaN   20
3344    é»„è“‰  é”€å”®ä¸»ç®¡  7800.0  3000   800.0   30
3577    æ¨è¿‡    ä¼šè®¡  5566.0  2200     NaN   10
3588   æœ±ä¹çœŸ    ä¼šè®¡  5566.0  2500     NaN   10
4466   è‹—äººå‡¤   é”€å”®å‘˜  3344.0  2500     NaN   30
5234    éƒ­é–    å‡ºçº³  5566.0  2000     NaN   10
5566   å®‹è¿œæ¡¥   ä¼šè®¡å¸ˆ  7800.0  4000  1000.0   10
7800   å¼ ä¸‰ä¸°    æ€»è£     NaN  9000  1200.0   20
==================================================
     ename  job     mgr    sal  comm  dno
eno
9500   å¼ ä¸‰ä¸°   æ€»è£     NaN  50000  8000   20
9600   ç‹å¤§é”¤  ç¨‹åºå‘˜  9800.0   8000   600   20
9700   å¼ ä¸‰ä¸°   æ€»è£     NaN  60000  6000   20
9800    éª†æ˜Š  æ¶æ„å¸ˆ  7800.0  30000  5000   20
9900   é™ˆå°åˆ€  åˆ†æå¸ˆ  9800.0  10000  1200   20
==================================================
    dname dloc
dno
10    ä¼šè®¡éƒ¨   åŒ—äº¬
20    ç ”å‘éƒ¨   æˆéƒ½
30    é”€å”®éƒ¨   é‡åº†
40    è¿ç»´éƒ¨   æ·±åœ³

In [38]:
all_emp_df = pd.concat([emp, emp2])
print(all_emp_df)

     ename   job     mgr    sal    comm  dno
eno
1359   èƒ¡ä¸€åˆ€   é”€å”®å‘˜  3344.0   1800   200.0   30
2056    ä¹”å³°   åˆ†æå¸ˆ  7800.0   5000  1500.0   20
3088   æè«æ„   è®¾è®¡å¸ˆ  2056.0   3500   800.0   20
3211   å¼ æ— å¿Œ   ç¨‹åºå‘˜  2056.0   3200     NaN   20
3233   ä¸˜å¤„æœº   ç¨‹åºå‘˜  2056.0   3400     NaN   20
3244   æ¬§é˜³é”‹   ç¨‹åºå‘˜  3088.0   3200     NaN   20
3251   å¼ ç¿ å±±   ç¨‹åºå‘˜  2056.0   4000     NaN   20
3344    é»„è“‰  é”€å”®ä¸»ç®¡  7800.0   3000   800.0   30
3577    æ¨è¿‡    ä¼šè®¡  5566.0   2200     NaN   10
3588   æœ±ä¹çœŸ    ä¼šè®¡  5566.0   2500     NaN   10
4466   è‹—äººå‡¤   é”€å”®å‘˜  3344.0   2500     NaN   30
5234    éƒ­é–    å‡ºçº³  5566.0   2000     NaN   10
5566   å®‹è¿œæ¡¥   ä¼šè®¡å¸ˆ  7800.0   4000  1000.0   10
7800   å¼ ä¸‰ä¸°    æ€»è£     NaN   9000  1200.0   20
9500   å¼ ä¸‰ä¸°    æ€»è£     NaN  50000  8000.0   20
9600   ç‹å¤§é”¤   ç¨‹åºå‘˜  9800.0   8000   600.0   20
9700   å¼ ä¸‰ä¸°    æ€»è£     NaN  60000  6000.0   20
9800    éª†æ˜Š   æ¶æ„å¸ˆ  7800.0  30000  5000.0   20
9900   é™ˆå°åˆ€   åˆ†æå¸ˆ  9800.0  10000  1200.0   20

In [39]:
all_emp_df.reset_index(inplace=True)

### è¿™é‡Œåœ¨é‡è®¾ä»€ä¹ˆç´¢å¼•ï¼Ÿå°±æ˜¯é‡æ–°è®©all_emp_dfçš„ç´¢å¼•å˜ä¸ºé»˜è®¤çš„ä»0å¼€å§‹æ˜¯ä¸æ˜¯ï¼Ÿ
æ˜¯çš„ï¼Œå®Œå…¨æ­£ç¡®ï¼

`reset_index(inplace=True)` çš„ä½œç”¨æ˜¯ï¼š
- é‡ç½®ç´¢å¼•ä¸ºé»˜è®¤çš„æ•°å­—ç´¢å¼•ï¼šå°†å½“å‰çš„ç´¢å¼•ï¼ˆè¿™é‡Œæ˜¯ eno å‘˜å·¥ç¼–å·ï¼‰å˜å›ä» 0 å¼€å§‹çš„é»˜è®¤æ•°å­—ç´¢å¼•
- åŸç´¢å¼•å˜æˆæ™®é€šåˆ—ï¼šåŸæ¥çš„ eno ç´¢å¼•ä¼šå˜æˆä¸€ä¸ªåä¸º eno çš„æ™®é€šæ•°æ®åˆ—
- å°±åœ°ä¿®æ”¹ï¼šinplace=True è¡¨ç¤ºç›´æ¥ä¿®æ”¹ all_emp_df æœ¬èº«ï¼Œè€Œä¸æ˜¯è¿”å›æ–°çš„ DataFrame

ä¸ºä»€ä¹ˆè¦è¿™æ ·åšï¼Ÿ

ä»ä¸Šä¸‹æ–‡çœ‹ï¼Œåé¢çš„ pd.merge() ä½¿ç”¨äº† on="dno" å‚æ•°æ¥è¿æ¥ï¼Œè¿™è¦æ±‚ dno æ˜¯æ™®é€šåˆ—è€Œä¸æ˜¯ç´¢å¼•ã€‚é‡ç½®ç´¢å¼•åï¼Œeno å˜æˆæ™®é€šåˆ—ï¼Œdno åˆ—å°±å¯ä»¥æ­£å¸¸ç”¨äºè¿æ¥æ“ä½œäº†ã€‚

In [40]:
print(all_emp_df)
print("=" * 50)
print(dept)
new_df = pd.merge(all_emp_df, dept, left_index=True, right_index=True)
print(new_df)

     eno ename   job     mgr    sal    comm  dno
0   1359   èƒ¡ä¸€åˆ€   é”€å”®å‘˜  3344.0   1800   200.0   30
1   2056    ä¹”å³°   åˆ†æå¸ˆ  7800.0   5000  1500.0   20
2   3088   æè«æ„   è®¾è®¡å¸ˆ  2056.0   3500   800.0   20
3   3211   å¼ æ— å¿Œ   ç¨‹åºå‘˜  2056.0   3200     NaN   20
4   3233   ä¸˜å¤„æœº   ç¨‹åºå‘˜  2056.0   3400     NaN   20
5   3244   æ¬§é˜³é”‹   ç¨‹åºå‘˜  3088.0   3200     NaN   20
6   3251   å¼ ç¿ å±±   ç¨‹åºå‘˜  2056.0   4000     NaN   20
7   3344    é»„è“‰  é”€å”®ä¸»ç®¡  7800.0   3000   800.0   30
8   3577    æ¨è¿‡    ä¼šè®¡  5566.0   2200     NaN   10
9   3588   æœ±ä¹çœŸ    ä¼šè®¡  5566.0   2500     NaN   10
10  4466   è‹—äººå‡¤   é”€å”®å‘˜  3344.0   2500     NaN   30
11  5234    éƒ­é–    å‡ºçº³  5566.0   2000     NaN   10
12  5566   å®‹è¿œæ¡¥   ä¼šè®¡å¸ˆ  7800.0   4000  1000.0   10
13  7800   å¼ ä¸‰ä¸°    æ€»è£     NaN   9000  1200.0   20
14  9500   å¼ ä¸‰ä¸°    æ€»è£     NaN  50000  8000.0   20
15  9600   ç‹å¤§é”¤   ç¨‹åºå‘˜  9800.0   8000   600.0   20
16  9700   å¼ ä¸‰ä¸°    æ€»è£     NaN  60000  6000.0   20
17  9800    éª†æ˜Š   æ¶æ„å¸ˆ  7800.0  30000  5000.0   20
18  9900   é™ˆå°åˆ€   åˆ†æå¸ˆ  9800.0  10000  1200.0   20
==================================================
    dname dloc
dno
10    ä¼šè®¡éƒ¨   åŒ—äº¬
20    ç ”å‘éƒ¨   æˆéƒ½
30    é”€å”®éƒ¨   é‡åº†
40    è¿ç»´éƒ¨   æ·±åœ³
     eno ename  job     mgr   sal  comm  dno dname dloc
10  4466   è‹—äººå‡¤  é”€å”®å‘˜  3344.0  2500   NaN   30   ä¼šè®¡éƒ¨   åŒ—äº¬

è¿™é‡Œçš„`new_df`è¾“å‡ºçš„æ˜¯ï¼š

```
     eno ename  job     mgr   sal  comm  dno dname dloc
10  4466   è‹—äººå‡¤  é”€å”®å‘˜  3344.0  2500   NaN   30   ä¼šè®¡éƒ¨   åŒ—äº¬
```

æ˜¯å› ä¸ºï¼š

é¦–å…ˆ`left_index=True`ï¼Œä¹Ÿå°±æ˜¯`all_emp_df`ä½¿ç”¨`ç´¢å¼•`è¿›è¡Œè¿æ¥ï¼Œ`right_index=True`æ‰€ä»¥`dept`ä¹Ÿæ˜¯ä½¿ç”¨`ç´¢å¼•`è¿›è¡Œè¿æ¥ï¼Œé‚£ä¹ˆå°±å»æ¯”è¾ƒå·¦è¡¨å’Œå³è¡¨ä¸­ç´¢å¼•ç›¸åŒçš„é¡¹ï¼Œå·¦å³è¡¨ä¸­éƒ½èƒ½æ‰¾åˆ°ç´¢å¼•ä¸º10çš„é¡¹ï¼Œå³è¡¨çš„ç´¢å¼•æ˜¯10-40ï¼Œè€Œå·¦è¡¨çš„ç´¢å¼•åªåˆ°18ä¸ºæ­¢ï¼Œæ‰€ä»¥åªæœ‰ä¸€æ¡è®°å½•ï¼Œå¦‚æœå·¦è¡¨æœ‰ä¸€ä¸ªç´¢å¼•ä¸º20ï¼Œé‚£ä¹ˆä¼šæœ‰ä¸¤æ¡è®°å½•ã€‚å‡å¦‚å·¦è¡¨ä¸­å­˜åœ¨ä¸€ä¸ªç´¢å¼•ä¸º50çš„è®°å½•ï¼Œé‚£ä¹ˆè¿™æ¡è®°å½•ä¸ä¼šå‡ºç°åœ¨æœ€ç»ˆçš„new_dfä¸­ï¼Œå› ä¸ºå³è¡¨ä¸­æ²¡æœ‰ã€‚

### 1. è¯·ä¸ºæˆ‘è¯´æ˜ how å±æ€§çš„å„ä¸ªå€¼çš„åŒºåˆ«ï¼Œä»¥åŠæ€ä¹ˆç”¨

**how å‚æ•°çš„å€¼åŠå…¶åŒºåˆ«**

`pd.merge()` ä¸­çš„ how å‚æ•°å†³å®šäº†è¿æ¥çš„æ–¹å¼ï¼š

å››ç§è¿æ¥ç±»å‹

- innerï¼ˆå†…è¿æ¥ï¼‰ï¼šåªä¿ç•™ä¸¤ä¸ª DataFrame ä¸­éƒ½å­˜åœ¨çš„é”®å€¼
  - ç»“æœï¼šäº¤é›†ï¼Œæœ€å°‘è®°å½•
- outerï¼ˆå¤–è¿æ¥ï¼‰ï¼šä¿ç•™ä¸¤ä¸ª DataFrame ä¸­æ‰€æœ‰çš„é”®å€¼
  - ç»“æœï¼šå¹¶é›†ï¼Œæœ€å¤šè®°å½•ï¼Œç¼ºå¤±å€¼ç”¨ NaN å¡«å……
- leftï¼ˆå·¦è¿æ¥ï¼‰ï¼šä¿ç•™å·¦è¾¹ DataFrame çš„æ‰€æœ‰è®°å½•
  - ç»“æœï¼šä»¥å·¦è¡¨ä¸ºä¸»ï¼Œå³è¡¨åŒ¹é…ä¸ä¸Šçš„ç”¨ NaN å¡«å……
- rightï¼ˆå³è¿æ¥ï¼‰ï¼šä¿ç•™å³è¾¹ DataFrame çš„æ‰€æœ‰è®°å½•
  - ç»“æœï¼šä»¥å³è¡¨ä¸ºä¸»ï¼Œå·¦è¡¨åŒ¹é…ä¸ä¸Šçš„ç”¨ NaN å¡«å……

æˆ‘çš„ä»£ç ä¸­:`new_df = pd.merge(all_emp_df, dept, how="inner", on="dno")`

- ä½¿ç”¨ inner è¿æ¥ï¼Œåªä¼šä¿ç•™ all_emp_df å’Œ dept ä¸­éƒ½å­˜åœ¨ç›¸åŒ dno å€¼çš„è®°å½•
- å¦‚æœæŸä¸ªå‘˜å·¥çš„ dno åœ¨éƒ¨é—¨è¡¨ä¸­ä¸å­˜åœ¨ï¼Œè¯¥å‘˜å·¥è®°å½•ä¼šè¢«è¿‡æ»¤æ‰
- å¦‚æœæŸä¸ªéƒ¨é—¨æ²¡æœ‰å‘˜å·¥ï¼Œè¯¥éƒ¨é—¨è®°å½•ä¹Ÿä¸ä¼šå‡ºç°åœ¨ç»“æœä¸­

é€‰æ‹©å»ºè®®ï¼šæ ¹æ®ä¸šåŠ¡éœ€æ±‚å†³å®šï¼Œé€šå¸¸ç”¨ left ä¿ç•™æ‰€æœ‰å‘˜å·¥ä¿¡æ¯ï¼Œç”¨ inner åªè¦æœ‰æ•ˆçš„å‘˜å·¥-éƒ¨é—¨å¯¹åº”å…³ç³»ã€‚

### 2. `on` å‚æ•°çš„ç”¨æ³•

`on` å‚æ•°æŒ‡å®šç”¨äºè¿æ¥çš„åˆ—åï¼ˆé”®ï¼‰ï¼š

#### åŸºæœ¬ç”¨æ³•

- `on="åˆ—å"`ï¼šå½“ä¸¤ä¸ª DataFrame æœ‰ç›¸åŒåˆ—åæ—¶
  - `pd.merge(df1, df2, on="dno")` # ç”¨ dno åˆ—è¿æ¥
- `on=["åˆ— 1", "åˆ— 2"]`ï¼šå¤šåˆ—è¿æ¥
  - `pd.merge(df1, df2, on=["dno", "job"])` # åŒæ—¶åŒ¹é…éƒ¨é—¨å’ŒèŒä½

### 3. è¯·ä¸ºæˆ‘è¯´æ˜ï¼Œmerge çš„ left_index å’Œ right_index è¿˜æœ‰ left_on è¿˜æœ‰ right_on çš„ç”¨æ³•æ˜¯ä»€ä¹ˆï¼Ÿ

`left_index` å’Œ `right_index`
**å«ä¹‰**

æŒ‡å®šæ˜¯å¦ä½¿ç”¨ç´¢å¼•ä½œä¸ºè¿æ¥é”®ï¼š
- `left_index=True`ï¼šå·¦è¡¨ä½¿ç”¨ç´¢å¼•è€Œä¸æ˜¯æŸä¸€åˆ—åšè¿æ¥
- `right_index=True`ï¼šå³è¡¨ä½¿ç”¨ç´¢å¼•è€Œä¸æ˜¯æŸä¸€åˆ—åšè¿æ¥

ä¸ºä»€ä¹ˆæ˜¯ True/Falseï¼š
- Trueï¼šç”¨ç´¢å¼•è¿æ¥
- Falseï¼ˆé»˜è®¤ï¼‰ï¼šç”¨åˆ—è¿æ¥

ç´¢å¼•æ˜¯ä»€ä¹ˆç´¢å¼•ï¼Ÿ
- ç´¢å¼•å°±æ˜¯ DataFrame çš„è¡Œæ ‡ç­¾
- é»˜è®¤ç´¢å¼•ï¼š0, 1, 2, 3... (æ•°å­—åºå·)
- å¦‚æœread_csvçš„æ—¶å€™ï¼Œè®¾ç½®äº†index_col='dno'è¿™æ ·çš„å±æ€§çš„è¯ï¼Œé‚£ä¹ˆæ­¤æ—¶dnoä½œä¸ºå½“å‰DataFrameçš„ç´¢å¼•

ç”¨é€”: æŒ‡å®šæ˜¯å¦ä½¿ç”¨ DataFrame çš„ç´¢å¼•è¿›è¡Œè¿æ¥

```python
# å½“å…¶ä¸­ä¸€ä¸ªè¡¨çš„è¿æ¥é”®æ˜¯ç´¢å¼•æ—¶
pd.merge(df1, df2, left_on="dno", right_index=True)
# æˆ–è€…ä¸¤ä¸ªè¡¨éƒ½ç”¨ç´¢å¼•è¿æ¥
pd.merge(df1, df2, left_index=True, right_index=True)
```
é€‚ç”¨åœºæ™¯: å½“ä½ çš„è¿æ¥é”®è®¾ç½®ä¸ºäº† DataFrame çš„ç´¢å¼•æ—¶ä½¿ç”¨

---

`left_on` å’Œ `right_on`

ç”¨é€”: å½“ä¸¤ä¸ª DataFrame ä¸­ç”¨äºè¿æ¥çš„åˆ—åä¸åŒæ—¶ä½¿ç”¨

```python
# å·¦è¡¨ç”¨ dno åˆ—åšè¿æ¥é”®ï¼Œå³è¡¨ç”¨ dept_id åˆ—åšè¿æ¥é”®
pd.merge(emp_df, dept_df, left_on="dno", right_on="dept_id")
```
---

vs `on` å‚æ•°çš„åŒºåˆ«:

- `on="åˆ—å"`: ä¸¤ä¸ªè¡¨çš„è¿æ¥åˆ—åç›¸åŒæ—¶ä½¿ç”¨
- `left_on + right_on`: ä¸¤ä¸ªè¡¨çš„è¿æ¥åˆ—åä¸åŒæ—¶ä½¿ç”¨
---

å®é™…åº”ç”¨ç¤ºä¾‹

```python
# ä½ çš„ä»£ç ç­‰ä»·äºï¼š
new_df = pd.merge(all_emp_df, dept, left_on="dno", right_on="dno")
# å› ä¸ºä¸¤è¡¨çš„è¿æ¥åˆ—åéƒ½æ˜¯ "dno"ï¼Œæ‰€ä»¥å¯ä»¥ç®€åŒ–ä¸ºï¼š
new_df = pd.merge(all_emp_df, dept, on="dno")
```
é€‰æ‹©å»ºè®®: åˆ—åç›¸åŒç”¨ onï¼Œåˆ—åä¸åŒç”¨ left_on/right_onï¼Œç´¢å¼•è¿æ¥ç”¨ left_index/right_indexã€‚
#### è®°å¿†è¦ç‚¹ï¼š`indexå‚æ•°æ§åˆ¶"ç”¨ä¸ç”¨ç´¢å¼•"ï¼Œonå‚æ•°æ§åˆ¶"ç”¨å“ªä¸€åˆ—"`ã€‚
### 4. å·¦å³çš„æ¦‚å¿µï¼ˆleft,rightï¼‰
```
pd.merge(df1,df2,)
          ğŸ‘‡  ğŸ‘‡
         å·¦è¡¨ å³è¡¨
```
### 5. mergeçš„è¿æ¥æ–¹å¼
é»˜è®¤æ˜¯ä½¿ç”¨innerè¿æ¥çš„ï¼Œå‡å¦‚ä½ ä½¿ç”¨äº†:`new_df = pd.merge(all_emp_df, dept, left_index=True, right_index=True)`,å‘ç°æ²¡æœ‰æ˜¾å¼æŒ‡å®šhowçš„å€¼ï¼Œé‚£ä¹ˆé»˜è®¤å°±æ˜¯innerè¿æ¥ã€‚

---

### æ•°æ®æ¸…æ´—
é€šå¸¸ï¼Œæˆ‘ä»¬ä» Excelã€CSV æˆ–æ•°æ®åº“ä¸­è·å–åˆ°çš„æ•°æ®å¹¶ä¸æ˜¯éå¸¸å®Œç¾çš„ï¼Œé‡Œé¢å¯èƒ½å› ä¸ºç³»ç»Ÿæˆ–äººä¸ºçš„åŸå› æ··å…¥äº†é‡å¤å€¼æˆ–å¼‚å¸¸å€¼ï¼Œä¹Ÿå¯èƒ½åœ¨æŸäº›å­—æ®µä¸Šå­˜åœ¨ç¼ºå¤±å€¼ï¼›å†è€…ï¼Œ`DataFrame`ä¸­çš„æ•°æ®ä¹Ÿå¯èƒ½å­˜åœ¨æ ¼å¼ä¸ç»Ÿä¸€ã€é‡çº²ä¸ç»Ÿä¸€ç­‰å„ç§é—®é¢˜ã€‚å› æ­¤ï¼Œåœ¨å¼€å§‹æ•°æ®åˆ†æä¹‹å‰ï¼Œå¯¹æ•°æ®è¿›è¡Œæ¸…æ´—å°±æ˜¾å¾—ç‰¹åˆ«é‡è¦ã€‚

In [41]:
print(emp.isnull())
print("=" * 50)
print(emp.isna())

      ename    job    mgr    sal   comm    dno
eno
1359  False  False  False  False  False  False
2056  False  False  False  False  False  False
3088  False  False  False  False  False  False
3211  False  False  False  False   True  False
3233  False  False  False  False   True  False
3244  False  False  False  False   True  False
3251  False  False  False  False   True  False
3344  False  False  False  False  False  False
3577  False  False  False  False   True  False
3588  False  False  False  False   True  False
4466  False  False  False  False   True  False
5234  False  False  False  False   True  False
5566  False  False  False  False  False  False
7800  False  False   True  False  False  False
==================================================
      ename    job    mgr    sal   comm    dno
eno
1359  False  False  False  False  False  False
2056  False  False  False  False  False  False
3088  False  False  False  False  False  False
3211  False  False  False  False   True  False
3233  False  False  False  False   True  False
3244  False  False  False  False   True  False
3251  False  False  False  False   True  False
3344  False  False  False  False  False  False
3577  False  False  False  False   True  False
3588  False  False  False  False   True  False
4466  False  False  False  False   True  False
5234  False  False  False  False   True  False
5566  False  False  False  False  False  False
7800  False  False   True  False  False  False

In [42]:
print(emp.dropna())  # åˆ é™¤æ‰€æœ‰é‚£äº›å‡ºç°è¿‡NaNçš„è¡Œï¼Œä¹Ÿå°±æ˜¯è¯´ï¼Œä¸€è¡Œä¸­çš„æ‰€æœ‰å€¼éƒ½ä¸èƒ½æ˜¯NaN

     ename   job     mgr   sal    comm  dno
eno
1359   èƒ¡ä¸€åˆ€   é”€å”®å‘˜  3344.0  1800   200.0   30
2056    ä¹”å³°   åˆ†æå¸ˆ  7800.0  5000  1500.0   20
3088   æè«æ„   è®¾è®¡å¸ˆ  2056.0  3500   800.0   20
3344    é»„è“‰  é”€å”®ä¸»ç®¡  7800.0  3000   800.0   30
5566   å®‹è¿œæ¡¥   ä¼šè®¡å¸ˆ  7800.0  4000  1000.0   10

In [43]:
print(
    emp.dropna(axis=1)
)  # åˆ é™¤åˆ—ä¸­åŒ…å«æœ‰NaNçš„åˆ—ï¼Œå¯ä»¥ä»ä¸Šé¢çš„è¾“å‡ºçœ‹å‡ºæ¥ï¼Œmgrå’Œcommè¿™ä¸¤åˆ—ä¸­å­˜åœ¨æœ‰NaNï¼Œæ‰€ä»¥è¿™ä¸¤åˆ—éƒ½è¢«åˆ é™¤äº†

     ename   job   sal  dno
eno
1359   èƒ¡ä¸€åˆ€   é”€å”®å‘˜  1800   30
2056    ä¹”å³°   åˆ†æå¸ˆ  5000   20
3088   æè«æ„   è®¾è®¡å¸ˆ  3500   20
3211   å¼ æ— å¿Œ   ç¨‹åºå‘˜  3200   20
3233   ä¸˜å¤„æœº   ç¨‹åºå‘˜  3400   20
3244   æ¬§é˜³é”‹   ç¨‹åºå‘˜  3200   20
3251   å¼ ç¿ å±±   ç¨‹åºå‘˜  4000   20
3344    é»„è“‰  é”€å”®ä¸»ç®¡  3000   30
3577    æ¨è¿‡    ä¼šè®¡  2200   10
3588   æœ±ä¹çœŸ    ä¼šè®¡  2500   10
4466   è‹—äººå‡¤   é”€å”®å‘˜  2500   30
5234    éƒ­é–    å‡ºçº³  2000   10
5566   å®‹è¿œæ¡¥   ä¼šè®¡å¸ˆ  4000   10
7800   å¼ ä¸‰ä¸°    æ€»è£  9000   20

In [44]:
print(emp.fillna(0))  # æˆ–è€… emp.fillna(value=0)

     ename   job     mgr   sal    comm  dno
eno
1359   èƒ¡ä¸€åˆ€   é”€å”®å‘˜  3344.0  1800   200.0   30
2056    ä¹”å³°   åˆ†æå¸ˆ  7800.0  5000  1500.0   20
3088   æè«æ„   è®¾è®¡å¸ˆ  2056.0  3500   800.0   20
3211   å¼ æ— å¿Œ   ç¨‹åºå‘˜  2056.0  3200     0.0   20
3233   ä¸˜å¤„æœº   ç¨‹åºå‘˜  2056.0  3400     0.0   20
3244   æ¬§é˜³é”‹   ç¨‹åºå‘˜  3088.0  3200     0.0   20
3251   å¼ ç¿ å±±   ç¨‹åºå‘˜  2056.0  4000     0.0   20
3344    é»„è“‰  é”€å”®ä¸»ç®¡  7800.0  3000   800.0   30
3577    æ¨è¿‡    ä¼šè®¡  5566.0  2200     0.0   10
3588   æœ±ä¹çœŸ    ä¼šè®¡  5566.0  2500     0.0   10
4466   è‹—äººå‡¤   é”€å”®å‘˜  3344.0  2500     0.0   30
5234    éƒ­é–    å‡ºçº³  5566.0  2000     0.0   10
5566   å®‹è¿œæ¡¥   ä¼šè®¡å¸ˆ  7800.0  4000  1000.0   10
7800   å¼ ä¸‰ä¸°    æ€»è£     0.0  9000  1200.0   20

### é‡å¤æ•°æ®

In [45]:
dept.loc[50] = {"dname": "ç ”å‘éƒ¨", "dloc": "ä¸Šæµ·"}
dept.loc[60] = {"dname": "é”€å”®éƒ¨", "dloc": "é•¿æ²™"}
print(dept)

    dname dloc
dno
10    ä¼šè®¡éƒ¨   åŒ—äº¬
20    ç ”å‘éƒ¨   æˆéƒ½
30    é”€å”®éƒ¨   é‡åº†
40    è¿ç»´éƒ¨   æ·±åœ³
50    ç ”å‘éƒ¨   ä¸Šæµ·
60    é”€å”®éƒ¨   é•¿æ²™

### è¿™é‡Œä¸ºä»€ä¹ˆè¦ç”¨locï¼Ÿå¦‚æœæ˜¯æ•´æ•°ç´¢å¼•çš„è¯ï¼Œä¸åº”è¯¥ä½¿ç”¨ilocå—ï¼Ÿ
è¿™é‡Œä½¿ç”¨ `loc` æ˜¯æ­£ç¡®çš„ï¼Œå› ä¸ºï¼š

`loc` æ˜¯åŸºäº`æ ‡ç­¾ï¼ˆlabelï¼‰`çš„ç´¢å¼•ï¼Œè¿™é‡Œçš„ 50 å’Œ 60 æ˜¯ä½œä¸ºç´¢å¼•æ ‡ç­¾æ¥ä½¿ç”¨çš„ï¼Œè€Œä¸æ˜¯ä½ç½®ã€‚
`iloc` æ˜¯åŸºäº`ä½ç½®ï¼ˆpositionï¼‰`çš„ç´¢å¼•ï¼Œå¦‚æœä½¿ç”¨ `iloc[50]` æ„å‘³ç€è®¿é—®*ç¬¬51ä¸ªä½ç½®çš„è¡Œ*ï¼ˆä»0å¼€å§‹è®¡æ•°ï¼‰ã€‚
åœ¨è¿™ä¸ªä¾‹å­ä¸­ï¼š
- `dept.loc[50]` åˆ›å»ºæˆ–è®¿é—®ç´¢å¼•æ ‡ç­¾ä¸º 50 çš„è¡Œ
- `dept.loc[60]` åˆ›å»ºæˆ–è®¿é—®ç´¢å¼•æ ‡ç­¾ä¸º 60 çš„è¡Œ
å¦‚æœæ”¹ç”¨ `iloc[50]`ï¼Œpandas ä¼šå°è¯•è®¿é—®ç¬¬51ä¸ªä½ç½®çš„è¡Œï¼Œè¿™å¾ˆå¯èƒ½ä¼šæŠ¥é”™ï¼ˆå› ä¸ºDataFrameå¯èƒ½æ²¡æœ‰é‚£ä¹ˆå¤šè¡Œï¼‰ã€‚

#### è®°å¿†è¦ç‚¹ï¼š`loc = æ ‡ç­¾ç´¢å¼•`ï¼Œ`iloc = ä½ç½®ç´¢å¼•`ã€‚å³ä½¿æ ‡ç­¾çœ‹èµ·æ¥åƒæ•´æ•°ï¼Œä»ç„¶è¦ç”¨ locã€‚

In [46]:
print(dept.drop_duplicates("dname"))

    dname dloc
dno
10    ä¼šè®¡éƒ¨   åŒ—äº¬
20    ç ”å‘éƒ¨   æˆéƒ½
30    é”€å”®éƒ¨   é‡åº†
40    è¿ç»´éƒ¨   æ·±åœ³

In [47]:
print(dept.drop_duplicates("dname", keep="last"))

    dname dloc
dno
10    ä¼šè®¡éƒ¨   åŒ—äº¬
40    è¿ç»´éƒ¨   æ·±åœ³
50    ç ”å‘éƒ¨   ä¸Šæµ·
60    é”€å”®éƒ¨   é•¿æ²™

### keep å‚æ•°ç”¨äºæŒ‡å®šå½“å‘ç°é‡å¤æ•°æ®æ—¶ï¼Œä¿ç•™å“ªä¸€ä¸ªï¼š

- keep=`"first"`ï¼ˆé»˜è®¤ï¼‰ï¼šä¿ç•™ç¬¬ä¸€æ¬¡å‡ºç°çš„æ•°æ®ï¼Œåˆ é™¤åé¢çš„é‡å¤é¡¹
- keep=`"last"`ï¼šä¿ç•™æœ€åä¸€æ¬¡å‡ºç°çš„æ•°æ®ï¼Œåˆ é™¤å‰é¢çš„é‡å¤é¡¹
- keep=`False`ï¼šåˆ é™¤æ‰€æœ‰é‡å¤é¡¹ï¼Œä¸€ä¸ªéƒ½ä¸ä¿ç•™

åœ¨ä½ çš„ä¾‹å­ä¸­ï¼Œkeep="last" æ„å‘³ç€å¦‚æœ dname åˆ—æœ‰é‡å¤å€¼ï¼Œä¼šä¿ç•™æœ€åå‡ºç°çš„é‚£ä¸€è¡Œï¼Œåˆ é™¤ä¹‹å‰çš„é‡å¤è¡Œã€‚

In [48]:
new_df1 = all_emp_df.drop_duplicates(["ename", "job"])
new_df2 = all_emp_df.drop_duplicates(["ename", "job"])
new_df1.reset_index(inplace=True)  # ä¸ä½¿ç”¨drop
print(f"{'='*50}\nä¸ä½¿ç”¨drop:\n{'='*50}\n{new_df1}")
new_df2.reset_index(drop=True, inplace=True)  # ä½¿ç”¨drop
print(f"{'='*50}\nä½¿ç”¨drop:\n{'='*50}\n{new_df2}")

==================================================
ä¸ä½¿ç”¨drop:
==================================================
    index   eno ename   job     mgr    sal    comm  dno
0       0  1359   èƒ¡ä¸€åˆ€   é”€å”®å‘˜  3344.0   1800   200.0   30
1       1  2056    ä¹”å³°   åˆ†æå¸ˆ  7800.0   5000  1500.0   20
2       2  3088   æè«æ„   è®¾è®¡å¸ˆ  2056.0   3500   800.0   20
3       3  3211   å¼ æ— å¿Œ   ç¨‹åºå‘˜  2056.0   3200     NaN   20
4       4  3233   ä¸˜å¤„æœº   ç¨‹åºå‘˜  2056.0   3400     NaN   20
5       5  3244   æ¬§é˜³é”‹   ç¨‹åºå‘˜  3088.0   3200     NaN   20
6       6  3251   å¼ ç¿ å±±   ç¨‹åºå‘˜  2056.0   4000     NaN   20
7       7  3344    é»„è“‰  é”€å”®ä¸»ç®¡  7800.0   3000   800.0   30
8       8  3577    æ¨è¿‡    ä¼šè®¡  5566.0   2200     NaN   10
9       9  3588   æœ±ä¹çœŸ    ä¼šè®¡  5566.0   2500     NaN   10
10     10  4466   è‹—äººå‡¤   é”€å”®å‘˜  3344.0   2500     NaN   30
11     11  5234    éƒ­é–    å‡ºçº³  5566.0   2000     NaN   10
12     12  5566   å®‹è¿œæ¡¥   ä¼šè®¡å¸ˆ  7800.0   4000  1000.0   10
13     13  7800   å¼ ä¸‰ä¸°    æ€»è£     NaN   9000  1200.0   20
14     15  9600   ç‹å¤§é”¤   ç¨‹åºå‘˜  9800.0   8000   600.0   20
15     17  9800    éª†æ˜Š   æ¶æ„å¸ˆ  7800.0  30000  5000.0   20
16     18  9900   é™ˆå°åˆ€   åˆ†æå¸ˆ  9800.0  10000  1200.0   20
==================================================
ä½¿ç”¨drop:
==================================================
     eno ename   job     mgr    sal    comm  dno
0   1359   èƒ¡ä¸€åˆ€   é”€å”®å‘˜  3344.0   1800   200.0   30
1   2056    ä¹”å³°   åˆ†æå¸ˆ  7800.0   5000  1500.0   20
2   3088   æè«æ„   è®¾è®¡å¸ˆ  2056.0   3500   800.0   20
3   3211   å¼ æ— å¿Œ   ç¨‹åºå‘˜  2056.0   3200     NaN   20
4   3233   ä¸˜å¤„æœº   ç¨‹åºå‘˜  2056.0   3400     NaN   20
5   3244   æ¬§é˜³é”‹   ç¨‹åºå‘˜  3088.0   3200     NaN   20
6   3251   å¼ ç¿ å±±   ç¨‹åºå‘˜  2056.0   4000     NaN   20
7   3344    é»„è“‰  é”€å”®ä¸»ç®¡  7800.0   3000   800.0   30
8   3577    æ¨è¿‡    ä¼šè®¡  5566.0   2200     NaN   10
9   3588   æœ±ä¹çœŸ    ä¼šè®¡  5566.0   2500     NaN   10
10  4466   è‹—äººå‡¤   é”€å”®å‘˜  3344.0   2500     NaN   30
11  5234    éƒ­é–    å‡ºçº³  5566.0   2000     NaN   10
12  5566   å®‹è¿œæ¡¥   ä¼šè®¡å¸ˆ  7800.0   4000  1000.0   10
13  7800   å¼ ä¸‰ä¸°    æ€»è£     NaN   9000  1200.0   20
14  9600   ç‹å¤§é”¤   ç¨‹åºå‘˜  9800.0   8000   600.0   20
15  9800    éª†æ˜Š   æ¶æ„å¸ˆ  7800.0  30000  5000.0   20
16  9900   é™ˆå°åˆ€   åˆ†æå¸ˆ  9800.0  10000  1200.0   20

### dropå‚æ•°æœ‰ä»€ä¹ˆç”¨ï¼Ÿ
ä½œç”¨: å†³å®šæ˜¯å¦ä¿ç•™åŸæ¥çš„ç´¢å¼•ï¼š
- `drop=True`ï¼šä¸¢å¼ƒåŸç´¢å¼•ï¼Œåªç”Ÿæˆæ–°çš„è¿ç»­ç´¢å¼•ï¼ˆ0,1,2...ï¼‰
- `drop=False`ï¼ˆé»˜è®¤ï¼‰ï¼šæŠŠåŸç´¢å¼•ä¿å­˜ä¸ºæ–°çš„ä¸€åˆ—ï¼ŒåŒæ—¶ç”Ÿæˆæ–°ç´¢å¼•

ç®€å•è¯´ï¼š`drop=True é¿å…æŠŠæ—§ç´¢å¼•å˜æˆæ–°åˆ—ï¼Œä¿æŒDataFrameåˆ—æ•°ä¸å˜`ã€‚

çœ‹ä¸Šé¢ä¹ŸçŸ¥é“ï¼Œå› ä¸ºä½¿ç”¨äº†drop_duplicatesï¼Œåˆ å»äº†enameå’Œjobä¸€æ ·çš„è¡Œï¼ˆå¼ ä¸‰ä¸°çš„é‚£å‡ è¡Œï¼Œä¸”åªä¿ç•™äº†ä¸€ä¸ªå¼ ä¸‰ä¸°ï¼‰ï¼ŒåŸæ¥çš„ç´¢å¼•å°±ä¼šå‡ºç°ç¼ºå¤±ï¼Œæ­¤æ—¶ç´¢å¼•ä¸å†è¿ç»­ï¼Œæˆ‘æƒ³è®©å®ƒè¿ç»­ï¼Œå°±è¦ç”¨reset_indexï¼Œé‡æ–°è®¾ç½®ç´¢å¼•ï¼Œå¹¶ç”¨dropä¸¢å¼ƒæ‰åŸæ¥çš„ç´¢å¼•ï¼Œè¿™æ ·æ–°å¾—åˆ°çš„DataFrameçš„ç´¢å¼•å°±è¿ç»­äº†ã€‚

---

### å¼‚å¸¸å€¼

å¼‚å¸¸å€¼åœ¨ç»Ÿè®¡å­¦ä¸Šçš„å…¨ç§°æ˜¯ç–‘ä¼¼å¼‚å¸¸å€¼ï¼Œä¹Ÿç§°ä½œç¦»ç¾¤ç‚¹ï¼ˆoutlierï¼‰ï¼Œå¼‚å¸¸å€¼çš„åˆ†æä¹Ÿç§°ä½œç¦»ç¾¤ç‚¹åˆ†æã€‚å¼‚å¸¸å€¼æ˜¯æŒ‡æ ·æœ¬ä¸­å‡ºç°çš„â€œæç«¯å€¼â€ï¼Œæ•°æ®å€¼çœ‹èµ·æ¥å¼‚å¸¸å¤§æˆ–å¼‚å¸¸å°ï¼Œå…¶åˆ†å¸ƒæ˜æ˜¾åç¦»å…¶ä½™çš„è§‚æµ‹å€¼ã€‚å®é™…å·¥ä½œä¸­ï¼Œæœ‰äº›å¼‚å¸¸å€¼å¯èƒ½æ˜¯ç”±ç³»ç»Ÿæˆ–äººä¸ºåŸå› é€ æˆçš„ï¼Œä½†æœ‰äº›å¼‚å¸¸å€¼å´ä¸æ˜¯ï¼Œå®ƒä»¬èƒ½å¤Ÿé‡å¤ä¸”ç¨³å®šçš„å‡ºç°ï¼Œå±äºæ­£å¸¸çš„æç«¯å€¼ï¼Œä¾‹å¦‚å¾ˆå¤šæ¸¸æˆäº§å“ä¸­å¤´éƒ¨ç©å®¶çš„æ•°æ®å¾€å¾€éƒ½æ˜¯ç¦»ç¾¤çš„æç«¯å€¼ã€‚æ‰€ä»¥ï¼Œæˆ‘ä»¬æ—¢ä¸èƒ½å¿½è§†å¼‚å¸¸å€¼çš„å­˜åœ¨ï¼Œä¹Ÿä¸èƒ½ç®€å•åœ°æŠŠå¼‚å¸¸å€¼ä»æ•°æ®åˆ†æä¸­å‰”é™¤ã€‚é‡è§†å¼‚å¸¸å€¼çš„å‡ºç°ï¼Œåˆ†æå…¶äº§ç”Ÿçš„åŸå› ï¼Œå¸¸å¸¸æˆä¸ºå‘ç°é—®é¢˜è¿›è€Œæ”¹è¿›å†³ç­–çš„å¥‘æœºã€‚

å¼‚å¸¸å€¼çš„æ£€æµ‹æœ‰`Z-score` æ–¹æ³•ã€`IQR` æ–¹æ³•ã€`DBScan èšç±»`ã€`å­¤ç«‹æ£®æ—`ç­‰ï¼Œè¿™é‡Œæˆ‘ä»¬å¯¹å‰ä¸¤ç§æ–¹æ³•åšä¸€ä¸ªç®€å•çš„ä»‹ç»ã€‚

### Q3å’ŒQ1æ€ä¹ˆç®—ï¼Ÿ
**Q1å’ŒQ3çš„è®¡ç®—æ­¥éª¤**ï¼š
1. æ’åºï¼šå°†æ•°æ®ä»å°åˆ°å¤§æ’åˆ—
2. æ‰¾ä½ç½®ï¼š
    - `Q1ä½ç½® = (n+1) Ã— 0.25`
    - `Q3ä½ç½® = (n+1) Ã— 0.75`
    - næ˜¯`æ•°æ®ä¸ªæ•°`
3. å–å€¼ï¼š
    - å¦‚æœä½ç½®æ˜¯æ•´æ•°ï¼Œç›´æ¥å–è¯¥ä½ç½®çš„å€¼
    - å¦‚æœä½ç½®æ˜¯å°æ•°ï¼Œåœ¨ç›¸é‚»ä¸¤ä¸ªå€¼ä¹‹é—´çº¿æ€§æ’å€¼
ä¾‹å­ï¼š æ•°æ® [1,2,3,4,5,6,7,8,9]
- n=9ï¼ŒQ1ä½ç½®=(9+1)Ã—0.25=2.5 â†’ Q1=2.5
- Q3ä½ç½®=(9+1)Ã—0.75=7.5 â†’ Q3=7.5

pandasä¸­ç›´æ¥ç”¨ï¼š `df.quantile([0.25, 0.75])`

## `IQR = Q3 - Q1`

### é¢„å¤„ç†

In [49]:
sales_df = pd.read_excel(
    "./2020å¹´é”€å”®æ•°æ®.xlsx",
    usecols=["é”€å”®æ—¥æœŸ", "é”€å”®åŒºåŸŸ", "é”€å”®æ¸ é“", "å“ç‰Œ", "å”®ä»·"],
)
print(sales_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1945 entries, 0 to 1944
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   é”€å”®æ—¥æœŸ    1945 non-null   datetime64[ns]
 1   é”€å”®åŒºåŸŸ    1945 non-null   object
 2   é”€å”®æ¸ é“    1945 non-null   object
 3   å“ç‰Œ      1945 non-null   object
 4   å”®ä»·      1945 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 76.1+ KB
None

In [50]:
sales_df["æœˆä»½"] = sales_df["é”€å”®æ—¥æœŸ"].dt.month
sales_df["å­£åº¦"] = sales_df["é”€å”®æ—¥æœŸ"].dt.quarter
sales_df["æ˜ŸæœŸ"] = sales_df["é”€å”®æ—¥æœŸ"].dt.weekday
print(sales_df)

           é”€å”®æ—¥æœŸ é”€å”®åŒºåŸŸ é”€å”®æ¸ é“    å“ç‰Œ   å”®ä»·  æœˆä»½  å­£åº¦  æ˜ŸæœŸ
0    2020-01-01   ä¸Šæµ·  æ‹¼å¤šå¤š   å…«åŒ¹é©¬   99   1   1   2
1    2020-01-01   ä¸Šæµ·   æŠ–éŸ³   å…«åŒ¹é©¬  219   1   1   2
2    2020-01-01   ä¸Šæµ·   å¤©çŒ«   å…«åŒ¹é©¬  169   1   1   2
3    2020-01-01   ä¸Šæµ·   å¤©çŒ«   å…«åŒ¹é©¬  169   1   1   2
4    2020-01-01   ä¸Šæµ·   å¤©çŒ«   çš®çš®è™¾  249   1   1   2
...         ...  ...  ...   ...  ...  ..  ..  ..
1940 2020-12-30   åŒ—äº¬   äº¬ä¸œ  èŠ±èŠ±å§‘å¨˜  269  12   4   2
1941 2020-12-30   ç¦å»º   å®ä½“   å…«åŒ¹é©¬   79  12   4   2
1942 2020-12-31   ç¦å»º   å®ä½“  èŠ±èŠ±å§‘å¨˜  269  12   4   3
1943 2020-12-31   ç¦å»º   æŠ–éŸ³   å…«åŒ¹é©¬   59  12   4   3
1944 2020-12-31   ç¦å»º   å¤©çŒ«   å…«åŒ¹é©¬   99  12   4   3

[1945 rows x 8 columns]

In [59]:
jobs_df = pd.read_csv(
    "./æŸæ‹›è˜ç½‘ç«™æ‹›è˜æ•°æ®.csv",
    usecols=["city", "companyFullName", "positionName", "salary"],
)
print(jobs_df.info())
print("=" * 50)
print(jobs_df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   city             3140 non-null   object
 1   companyFullName  3140 non-null   object
 2   positionName     3140 non-null   object
 3   salary           3140 non-null   object
dtypes: object(4)
memory usage: 98.3+ KB
None
==================================================
  city companyFullName positionName   salary
0   åŒ—äº¬  è¾¾ç–†ç½‘ç»œç§‘æŠ€ï¼ˆä¸Šæµ·ï¼‰æœ‰é™å…¬å¸        æ•°æ®åˆ†æå²—  15k-30k
1   åŒ—äº¬    åŒ—äº¬éŸ³å¨±æ—¶å…‰ç§‘æŠ€æœ‰é™å…¬å¸         æ•°æ®åˆ†æ  10k-18k
2   åŒ—äº¬   åŒ—äº¬åƒå–œé¹¤é¤é¥®ç®¡ç†æœ‰é™å…¬å¸         æ•°æ®åˆ†æ  20k-30k
3   åŒ—äº¬   å‰æ—çœæµ·ç”Ÿç”µå­å•†åŠ¡æœ‰é™å…¬å¸         æ•°æ®åˆ†æ  33k-50k
4   åŒ—äº¬  éŸ¦åšç½‘è®¯ç§‘æŠ€ï¼ˆåŒ—äº¬ï¼‰æœ‰é™å…¬å¸         æ•°æ®åˆ†æ  10k-15k

ä¸Šé¢çš„æ•°æ®è¡¨ä¸€å…±æœ‰`3140`æ¡æ•°æ®ï¼Œä½†å¹¶éæ‰€æœ‰çš„èŒä½éƒ½æ˜¯â€œæ•°æ®åˆ†æâ€çš„å²—ä½ï¼Œå¦‚æœè¦ç­›é€‰å‡ºæ•°æ®åˆ†æçš„å²—ä½ï¼Œå¯ä»¥é€šè¿‡æ£€æŸ¥`positionName`å­—æ®µæ˜¯å¦åŒ…å«â€œæ•°æ®åˆ†æâ€è¿™ä¸ªå…³é”®è¯ï¼Œè¿™é‡Œéœ€è¦æ¨¡ç³ŠåŒ¹é…ï¼Œåº”è¯¥å¦‚ä½•å®ç°å‘¢ï¼Ÿæˆ‘ä»¬å¯ä»¥å…ˆè·å–`positionName`åˆ—ï¼Œå› ä¸ºè¿™ä¸ª`Series`å¯¹è±¡çš„`dtype`æ˜¯å­—ç¬¦ä¸²ï¼Œæ‰€ä»¥å¯ä»¥é€šè¿‡`str`å±æ€§è·å–å¯¹åº”çš„å­—ç¬¦ä¸²å‘é‡ï¼Œç„¶åå°±å¯ä»¥åˆ©ç”¨æˆ‘ä»¬ç†Ÿæ‚‰çš„å­—ç¬¦ä¸²çš„æ–¹æ³•æ¥å¯¹å…¶è¿›è¡Œæ“ä½œï¼Œä»£ç å¦‚ä¸‹æ‰€ç¤ºã€‚

In [60]:
jobs_df = jobs_df[jobs_df.positionName.str.contains("æ•°æ®åˆ†æ")]
print(jobs_df.shape)

(1515, 4)

In [61]:
print(jobs_df.salary.str.extract(r"(\d+)[kK]?-(\d+)[kK]?"))

       0   1
0     15  30
1     10  18
2     20  30
3     33  50
4     10  15
...   ..  ..
3065   8  10
3069   6  10
3070   2   4
3071   6  12
3088   8  12

[1515 rows x 2 columns]

### 1. ä¸ºä»€ä¹ˆè¿™é‡Œè¦jobs_df.salary.strï¼Œä¸ºä»€ä¹ˆè¦ç‚¹ä¸€ä¸‹strï¼Ÿ
å› ä¸º `jobs_df.salary` æ˜¯ä¸€ä¸ª pandas Serieså¯¹è±¡ï¼Œä¸æ˜¯å­—ç¬¦ä¸²ç±»å‹ã€‚

`.str` å±æ€§æ˜¯ pandas ä¸“é—¨ä¸ºå¤„ç†å­—ç¬¦ä¸²æ•°æ®æä¾›çš„å­—ç¬¦ä¸²è®¿é—®å™¨ï¼Œå®ƒå¯ä»¥ï¼š
- å°† Series ä¸­çš„æ¯ä¸ªå…ƒç´ å½“ä½œå­—ç¬¦ä¸²æ¥æ“ä½œ
- æä¾›å­—ç¬¦ä¸²æ–¹æ³•çš„å‘é‡åŒ–ç‰ˆæœ¬ï¼ˆå¦‚ .extract()ã€.contains()ã€.replace() ç­‰ï¼‰
- å¯¹æ•´åˆ—æ•°æ®æ‰¹é‡æ‰§è¡Œå­—ç¬¦ä¸²æ“ä½œ

å¦‚æœç›´æ¥ç”¨ `jobs_df.salary.extract()`ï¼ŒPython ä¼šæŠ¥é”™ï¼Œå› ä¸º Series å¯¹è±¡æœ¬èº«æ²¡æœ‰ `extract()` æ–¹æ³•ã€‚åªæœ‰é€šè¿‡ `.str è®¿é—®å™¨`ï¼Œæ‰èƒ½ä½¿ç”¨å­—ç¬¦ä¸²çš„æ­£åˆ™è¡¨è¾¾å¼æ–¹æ³•æ¥æå–è–ªèµ„èŒƒå›´ä¸­çš„æ•°å­—ã€‚

### 2. å‘é‡åŒ–ç‰ˆæœ¬ï¼Ÿå’Œå‘é‡æœ‰ä»€ä¹ˆå…³ç³»ï¼Ÿå‘é‡æ˜¯ä»€ä¹ˆåº“çš„æ¦‚å¿µï¼Œnumpyå—ï¼Ÿè¿˜æ˜¯pandasï¼Ÿ
å‘é‡åŒ–æ˜¯ numpy çš„æ ¸å¿ƒæ¦‚å¿µï¼Œpandas ç»§æ‰¿äº†è¿™ä¸ªæ€æƒ³ã€‚

å‘é‡åŒ–æŒ‡çš„æ˜¯ï¼š
- ä¸€æ¬¡æ“ä½œåº”ç”¨äºæ•´ä¸ªæ•°ç»„/Seriesï¼Œè€Œä¸æ˜¯é€ä¸ªå…ƒç´ å¾ªç¯
- åº•å±‚ç”¨ C å®ç°ï¼Œæ¯” Python å¾ªç¯å¿«å‡ åå€
- é¿å…æ˜¾å¼çš„ for å¾ªç¯
ä¾‹å¦‚ï¼š
```python
# éå‘é‡åŒ–ï¼ˆæ…¢ï¼‰
for i in range(len(series)):
    result[i] = series[i].extract(pattern)

# å‘é‡åŒ–ï¼ˆå¿«ï¼‰
series.str.extract(pattern)  # ä¸€æ¬¡æ€§å¤„ç†æ•´åˆ—
```
æ‰€ä»¥ .str æä¾›çš„æ˜¯å‘é‡åŒ–çš„å­—ç¬¦ä¸²æ–¹æ³• - ä¸€ä¸ªå‡½æ•°è°ƒç”¨å¤„ç†æ•´åˆ—æ•°æ®ï¼Œè€Œä¸æ˜¯é€è¡Œå¤„ç†ã€‚è¿™å°±æ˜¯ä¸ºä»€ä¹ˆ pandas æ¯”çº¯ Python å¾ªç¯å¿«å¾—å¤šçš„åŸå› ã€‚
### 3. numpyå’Œpandasçš„åŒºåˆ«
numpyï¼š
- ä¸“æ³¨æ•°å€¼è®¡ç®—ï¼Œå¤„ç†åŒè´¨æ•°æ®ï¼ˆç›¸åŒç±»å‹ï¼‰
- æ ¸å¿ƒæ˜¯å¤šç»´æ•°ç»„ï¼ˆndarrayï¼‰
- æä¾›æ•°å­¦å‡½æ•°ã€çº¿æ€§ä»£æ•°ã€éšæœºæ•°ç­‰
- æ›´åº•å±‚ï¼Œæ€§èƒ½æ›´é«˜

pandasï¼š
- ä¸“æ³¨æ•°æ®åˆ†æï¼Œå¤„ç†å¼‚è´¨æ•°æ®ï¼ˆä¸åŒç±»å‹ï¼‰
- æ ¸å¿ƒæ˜¯DataFrameå’ŒSeriesï¼ˆå¸¦æ ‡ç­¾çš„æ•°æ®ç»“æ„ï¼‰
- æä¾›æ•°æ®æ¸…æ´—ã€åˆ†ç»„ã€åˆå¹¶ã€æ—¶é—´åºåˆ—ç­‰
- åŸºäºnumpyæ„å»ºï¼Œæ›´é«˜å±‚æ¬¡
### 4. Serieså’Œå­—å…¸çš„åŒºåˆ«å’Œå…³ç³»
å…³ç³»ï¼šSeries æœ¬è´¨ä¸Šæ˜¯"å¢å¼ºç‰ˆå­—å…¸"

ç›¸åŒç‚¹ï¼š
- éƒ½æ˜¯é”®å€¼å¯¹ç»“æ„
- éƒ½å¯ä»¥é€šè¿‡é”®ï¼ˆç´¢å¼•ï¼‰è®¿é—®å€¼

å…³é”®åŒºåˆ«ï¼š

å­—å…¸ï¼š
```python
data = {'a': 10, 'b': 20, 'c': 30}
data['a']  # 10
```
Series:
```python
s = pd.Series({'a': 10, 'b': 20, 'c': 30})
s['a']     # 10
s + 5      # æ‰€æœ‰å€¼éƒ½åŠ 5ï¼Œå­—å…¸åšä¸åˆ°
s.mean()   # è®¡ç®—å¹³å‡å€¼ï¼Œå­—å…¸åšä¸åˆ°
```
æ ¸å¿ƒå·®å¼‚ï¼š
- å­—å…¸åªèƒ½å•ä¸ªæ“ä½œ
- Serieså¯ä»¥æ‰¹é‡æ“ä½œï¼ˆå‘é‡åŒ–ï¼‰+ æ•°æ®åˆ†æåŠŸèƒ½

æ‰€ä»¥Series = å­—å…¸çš„æ•°æ®ç»“æ„ + numpyçš„è®¡ç®—èƒ½åŠ› + pandasçš„åˆ†æåŠŸèƒ½ã€‚

In [62]:
temp_df = jobs_df.salary.str.extract(r"(\d+)[kK]?-(\d+)[kK]?").map(int)
jobs_df["salary"] = temp_df.apply(np.mean, axis=1)
print(jobs_df.head())

  city companyFullName positionName  salary
0   åŒ—äº¬  è¾¾ç–†ç½‘ç»œç§‘æŠ€ï¼ˆä¸Šæµ·ï¼‰æœ‰é™å…¬å¸        æ•°æ®åˆ†æå²—    22.5
1   åŒ—äº¬    åŒ—äº¬éŸ³å¨±æ—¶å…‰ç§‘æŠ€æœ‰é™å…¬å¸         æ•°æ®åˆ†æ    14.0
2   åŒ—äº¬   åŒ—äº¬åƒå–œé¹¤é¤é¥®ç®¡ç†æœ‰é™å…¬å¸         æ•°æ®åˆ†æ    25.0
3   åŒ—äº¬   å‰æ—çœæµ·ç”Ÿç”µå­å•†åŠ¡æœ‰é™å…¬å¸         æ•°æ®åˆ†æ    41.5
4   åŒ—äº¬  éŸ¦åšç½‘è®¯ç§‘æŠ€ï¼ˆåŒ—äº¬ï¼‰æœ‰é™å…¬å¸         æ•°æ®åˆ†æ    12.5

### 5. applymapå’Œapplyçš„ä½œç”¨å’Œç”¨æ³•è¯¦è§£

#### applymap() - å…ƒç´ çº§æ“ä½œ
- ä½œç”¨ï¼šå¯¹DataFrameçš„**æ¯ä¸ªå…ƒç´ **åº”ç”¨å‡½æ•°
- é€‚ç”¨äºï¼šéœ€è¦å¯¹æ¯ä¸ªå•ç‹¬çš„å€¼è¿›è¡Œè½¬æ¢çš„åœºæ™¯
- æ³¨æ„ï¼š**å·²å¼ƒç”¨**ï¼Œå»ºè®®ä½¿ç”¨ `.map()` æ›¿ä»£

åœ¨ä¸Šé¢çš„ä»£ç ä¸­ï¼š
```python
temp_df = jobs_df.salary.str.extract(r"(\d+)[kK]?-(\d+)[kK]?").applymap(int)
```
è¿™é‡Œ `applymap(int)` å°†æå–å‡ºçš„æ¯ä¸ªå­—ç¬¦ä¸²æ•°å­—è½¬æ¢ä¸ºæ•´æ•°ç±»å‹
ç­‰ä»·çš„æ–°å†™æ³•ï¼š`temp_df.map(int)`

#### apply() - è¡Œ/åˆ—çº§æ“ä½œ  
- ä½œç”¨ï¼šå¯¹DataFrameçš„**è¡Œæˆ–åˆ—**åº”ç”¨å‡½æ•°
- axis=0ï¼šå¯¹æ¯åˆ—æ“ä½œï¼ˆé»˜è®¤ï¼‰
- axis=1ï¼šå¯¹æ¯è¡Œæ“ä½œ

åœ¨ä¸Šé¢çš„ä»£ç ä¸­ï¼š
```python
jobs_df["salary"] = temp_df.apply(np.mean, axis=1)
```
è¿™é‡Œ `apply(np.mean, axis=1)` è®¡ç®—æ¯è¡Œçš„å¹³å‡å€¼
- axis=1 è¡¨ç¤ºæ²¿ç€è¡Œæ–¹å‘ï¼ˆå³å¯¹æ¯è¡Œçš„åˆ—è¿›è¡Œæ“ä½œï¼‰
- ç»“æœï¼šå°†"15-25"è¿™æ ·çš„åŒºé—´è½¬æ¢ä¸ºå¹³å‡å€¼20

#### æ ¸å¿ƒåŒºåˆ«æ€»ç»“ï¼š
- **applymap/map**ï¼šå…ƒç´  â†’ å…ƒç´ ï¼ˆå•ä¸ªå€¼å˜æ¢ï¼‰
- **apply**ï¼šè¡Œ/åˆ— â†’ å€¼ï¼ˆèšåˆæˆ–å˜æ¢æ•´è¡Œ/åˆ—ï¼‰

ç¤ºä¾‹å¯¹æ¯”ï¼š
```python
df = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})

# applymap/mapï¼šæ¯ä¸ªå…ƒç´ +1
df.map(lambda x: x + 1)     # [[2,4], [3,5]]

# applyï¼šæ¯è¡Œæ±‚å’Œ
df.apply(sum, axis=1)       # [4, 6]
```

In [68]:
df = pd.DataFrame({"A": [1, 2], "B": [3, 4]})
print("åŸå§‹DataFrame:")
print(df)
print("\næ¯ä¸ªå…ƒç´ åŠ 1å:")
result = df.map(lambda x: x + 1)
print(result)
print("\nè½¬æ¢ä¸ºå­—å…¸æ ¼å¼éªŒè¯:")
print(result.to_dict("list"))
print("\næ¯è¡Œæ±‚å’Œ:")
print(df.apply(sum, axis=1))

åŸå§‹DataFrame:
   A  B
0  1  3
1  2  4

æ¯ä¸ªå…ƒç´ åŠ 1å:
   A  B
0  2  4
1  3  5

è½¬æ¢ä¸ºå­—å…¸æ ¼å¼éªŒè¯:
{'A': [2, 3], 'B': [4, 5]}

æ¯è¡Œæ±‚å’Œ:
0    4
1    6
dtype: int64

```
      A  B     æ„æ€æ˜¯ï¼š    {"A": [2, 3], "B": [4, 5]}
   0  2  4     â†’  ç¬¬0è¡Œï¼šA=2, B=4
   1  3  5         ç¬¬1è¡Œï¼šA=3, B=5
```