In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

æˆ‘ä»¬å†æ¥çœ‹çœ‹`Index`ç±»å‹ï¼Œå®ƒä¸º`Series`å’Œ`DataFrame`å¯¹è±¡æä¾›äº†ç´¢å¼•æœåŠ¡ï¼Œæœ‰äº†ç´¢å¼•æˆ‘ä»¬å°±å¯ä»¥æ’åºæ•°æ®ï¼ˆ`sort_index`æ–¹æ³•ï¼‰ã€å¯¹é½æ•°æ®ï¼ˆåœ¨è¿ç®—å’Œåˆå¹¶æ•°æ®æ—¶éå¸¸é‡è¦ï¼‰å¹¶å®ç°å¯¹æ•°æ®çš„å¿«é€Ÿæ£€ç´¢ï¼ˆç´¢å¼•è¿ç®—ï¼‰ã€‚ç”±äº`DataFrame`ç±»å‹è¡¨ç¤ºçš„æ˜¯äºŒç»´æ•°æ®ï¼Œæ‰€ä»¥å®ƒçš„è¡Œå’Œåˆ—éƒ½æœ‰ç´¢å¼•ï¼Œåˆ†åˆ«æ˜¯`index`å’Œ`columns`ã€‚`Index`ç±»å‹çš„åˆ›å»ºçš„æ¯”è¾ƒç®€å•ï¼Œé€šå¸¸ç»™å‡º`data`ã€`dtype`å’Œ`name`ä¸‰ä¸ªå‚æ•°å³å¯ï¼Œåˆ†åˆ«è¡¨ç¤ºä½œä¸ºç´¢å¼•çš„æ•°æ®ã€ç´¢å¼•çš„æ•°æ®ç±»å‹å’Œç´¢å¼•çš„åç§°ã€‚ç”±äº`Index`æœ¬èº«ä¹Ÿæ˜¯ä¸€ç»´çš„æ•°æ®ï¼Œç´¢å¼•å®ƒçš„æ–¹æ³•å’Œå±æ€§è·Ÿ`Series`éå¸¸ç±»ä¼¼ï¼Œä½ å¯ä»¥å°è¯•åˆ›å»ºä¸€ä¸ª`Index`å¯¹è±¡ï¼Œç„¶åå°è¯•ä¸€ä¸‹ä¹‹å‰å­¦è¿‡çš„å±æ€§å’Œæ–¹æ³•åœ¨`Index`ç±»å‹ä¸Šæ˜¯å¦ç”Ÿæ•ˆã€‚æ¥ä¸‹æ¥ï¼Œæˆ‘ä»¬ä¸»è¦çœ‹çœ‹`Index`çš„å‡ ç§å­ç±»å‹ã€‚

### èŒƒå›´ç´¢å¼•

èŒƒå›´ç´¢å¼•æ˜¯ç”±å…·æœ‰å•è°ƒæ€§çš„æ•´æ•°æ„æˆçš„ç´¢å¼•ï¼Œæˆ‘ä»¬å¯ä»¥é€šè¿‡`RangeIndex`æ„é€ å™¨æ¥åˆ›å»ºèŒƒå›´ç´¢å¼•ï¼Œä¹Ÿå¯ä»¥é€šè¿‡`RangeIndex`ç±»çš„ç±»æ–¹æ³•`from_range`æ¥åˆ›å»ºèŒƒå›´ç´¢å¼•ï¼Œä»£ç å¦‚ä¸‹æ‰€ç¤ºã€‚

In [3]:
sales_data = np.random.randint(400, 1000, 12)
index = pd.RangeIndex(1, 13, name="æœˆä»½")
ser = pd.Series(data=sales_data, index=index)
ser

æœˆä»½
1     651
2     614
3     686
4     604
5     558
6     969
7     808
8     616
9     706
10    767
11    695
12    456
dtype: int64

### åˆ†ç±»ç´¢å¼•

åˆ†ç±»ç´¢å¼•æ˜¯ç”±å®šç±»å°ºåº¦æ„æˆçš„ç´¢å¼•ã€‚å¦‚æœæˆ‘ä»¬éœ€è¦é€šè¿‡ç´¢å¼•å°†æ•°æ®åˆ†ç»„ï¼Œç„¶åå†è¿›è¡Œèšåˆæ“ä½œï¼Œåˆ†ç±»ç´¢å¼•å°±å¯ä»¥æ´¾ä¸Šç”¨åœºã€‚åˆ†ç±»ç´¢å¼•è¿˜æœ‰ä¸€ä¸ªåä¸º`reorder_categories`çš„æ–¹æ³•ï¼Œå¯ä»¥ç»™ç´¢å¼•æŒ‡å®šä¸€ä¸ªé¡ºåºï¼Œåˆ†ç»„èšåˆçš„ç»“æœä¼šæŒ‰ç…§è¿™ä¸ªæŒ‡å®šçš„é¡ºåºè¿›è¡Œå‘ˆç°ï¼Œä»£ç å¦‚ä¸‹æ‰€ç¤ºã€‚

In [4]:
sales_data = [6, 6, 7, 6, 8, 6]
index = pd.CategoricalIndex(
    data=[
        "è‹¹æœ",
        "é¦™è•‰",
        "è‹¹æœ",
        "è‹¹æœ",
        "æ¡ƒå­",
        "é¦™è•‰",
    ],  # dataå¿…é¡»å’Œä¸Šé¢çš„sales_dataé•¿åº¦ä¸€è‡´ï¼Œdataä¸€èˆ¬ä¸ä¼šå«ä½ æ‰‹åŠ¨æ•²ï¼Œè¿™é‡Œåªæ˜¯æ¼”ç¤ºï¼Œä¸€èˆ¬å¯èƒ½æ˜¯ä¼ é€’listæˆ–è€…Seriesï¼ˆä¸èƒ½æ˜¯dictï¼Œå› ä¸ºdictæ˜¯é”®å€¼å¯¹ï¼‰
    categories=[
        "è‹¹æœ",
        "é¦™è•‰",
        "æ¡ƒå­",
    ],
    ordered=True,  # è®©categorieså¯ä»¥æ¯”è¾ƒå¤§å°ã€‚æ¯”å¦‚åœ¨è¿™é‡Œï¼Œè‹¹æœ<é¦™è•‰<æ¡ƒå­
)
ser = pd.Series(data=sales_data, index=index)
ser

è‹¹æœ    6
é¦™è•‰    6
è‹¹æœ    7
è‹¹æœ    6
æ¡ƒå­    8
é¦™è•‰    6
dtype: int64

## æœ‰äº† ordered=Trueï¼Œå°±èƒ½æ¯”è¾ƒ categories äº†å¯¹å§ï¼Œè¯·é—®è¿™ä¸ªæ¯”è¾ƒæœ‰ä»€ä¹ˆæ„ä¹‰å—ï¼Ÿ

### æ¯”è¾ƒçš„å®é™…æ„ä¹‰

æ’åºæ§åˆ¶ï¼š

- åˆ†ç»„èšåˆç»“æœæŒ‰ä½ å®šä¹‰çš„é¡ºåºæ˜¾ç¤ºï¼Œè€Œä¸æ˜¯å­—æ¯åº
- ä¾‹å¦‚ï¼šå®¢æˆ·ç­‰çº§ï¼ˆé’é“œ < ç™½é“¶ < é»„é‡‘ï¼‰ã€æ»¡æ„åº¦ï¼ˆå·® < ä¸€èˆ¬ < å¥½ï¼‰

ç­›é€‰æ“ä½œï¼š
  `ser[ser.index >= "é¦™è•‰"] # ç­›é€‰å‡º"é¦™è•‰"çº§åˆ«ä»¥ä¸Šçš„æ•°æ®`

ç»Ÿè®¡åˆ†æï¼š

- è®¡ç®—ä¸­ä½æ•°ã€åˆ†ä½æ•°ç­‰éœ€è¦é¡ºåºçš„ç»Ÿè®¡é‡
- æœ‰åºåˆ†ç±»å¯ä»¥ç”¨äºè¶‹åŠ¿åˆ†æ

å¯¹äºæ°´æœä¾‹å­ç¡®å®æ„ä¹‰ä¸å¤§ï¼Œä½†å¯¹äºç­‰çº§ã€è¯„åˆ†ã€æ—¶æœŸç­‰å¤©ç„¶æœ‰é¡ºåºçš„åˆ†ç±»æ•°æ®å¾ˆæœ‰ç”¨ã€‚

## å¦‚æœæ²¡æœ‰ categories é‚£ä¸€è¡Œä¼šæ€ä¹ˆæ ·ï¼Ÿ

å¦‚æœæ²¡æœ‰æ­¤è¡Œï¼Œä»£ç ä¹Ÿèƒ½è¿è¡Œï¼Œå› ä¸º pandas ä¼šè‡ªåŠ¨ä» data ä¸­æ¨æ–­å‡ºæ‰€æœ‰å”¯ä¸€å€¼ä½œä¸º categoriesã€‚ä½†æ˜¯ï¼Œå¦‚æœæ²¡æœ‰ categoriesï¼Œä½ å¯ä»¥è¯•ä¸€ä¸‹å°† data ä¸­çš„æŸä¸€ä¸ªåˆ†ç±»æ”¹ä¸ºä¸€ä¸ªå…¶ä»–çš„æ— æ„ä¹‰çš„å­—ç¬¦ä¸²ï¼Œå®ƒç…§æ ·æ˜¾ç¤ºå‡ºæ¥äº†ï¼Œå¦‚æœæœ‰äº† categoriesï¼Œè§„å®šåªèƒ½æ˜¯ï¼šè‹¹æœï¼Œé¦™è•‰ï¼Œæ¡ƒå­è¿™ä¸‰ç±»ï¼Œé‚£ä¹ˆé‚£ä¸ªæ— æ„ä¹‰çš„å­—ç¬¦ä¸²å°±ä¼šæ˜¾ç¤ºæˆ NaN

åŸºäºç´¢å¼•åˆ†ç»„æ•°æ®ï¼Œç„¶åä½¿ç”¨`sum`è¿›è¡Œæ±‚å’Œã€‚

In [5]:
ser.groupby(level=0, observed=True).sum()

è‹¹æœ    19
é¦™è•‰    12
æ¡ƒå­     8
dtype: int64

## 1. æ€ä¹ˆä½“ç°"åŸºäºç´¢å¼•åˆ†ç»„æ•°æ®"ï¼Ÿ
`groupby(level=0)` ä¸­çš„ `level=0` æŒ‡çš„æ˜¯ç´¢å¼•çš„ç¬¬ä¸€å±‚ã€‚åœ¨ä½ çš„æ•°æ®ä¸­ï¼Œç´¢å¼•å°±æ˜¯æ°´æœåç§°ï¼ˆè‹¹æœã€é¦™è•‰ã€æ¡ƒå­ï¼‰ï¼Œæ‰€ä»¥è¿™é‡Œæ˜¯æŒ‰ç…§ç´¢å¼•ä¸­çš„æ°´æœç±»åˆ«è¿›è¡Œåˆ†ç»„ã€‚
## 2. level=0 æœ‰ä»€ä¹ˆç”¨ï¼Ÿ
`level=0` è¡¨ç¤ºæŒ‰ç…§ç´¢å¼•çš„ç¬¬0å±‚ï¼ˆç¬¬ä¸€å±‚ï¼‰åˆ†ç»„ï¼š
- å¦‚æœç´¢å¼•æ˜¯å•å±‚çš„ï¼Œlevel=0 å°±æ˜¯æ•´ä¸ªç´¢å¼•
- å¦‚æœæ˜¯å¤šå±‚ç´¢å¼•ï¼ˆMultiIndexï¼‰ï¼Œlevel=0 æ˜¯æœ€å¤–å±‚ï¼Œlevel=1 æ˜¯ç¬¬äºŒå±‚ï¼Œä»¥æ­¤ç±»æ¨
## 3. ä¸ºä»€ä¹ˆè¦è®¾ç½® observed=Trueï¼Ÿ
`observed=True` çš„ä½œç”¨æ˜¯åªå¯¹å®é™…å­˜åœ¨çš„åˆ†ç±»è¿›è¡Œåˆ†ç»„ï¼š
- `observed=False`ï¼ˆé»˜è®¤ï¼‰ï¼šä¼šåŒ…å«æ‰€æœ‰å®šä¹‰çš„ categoriesï¼Œå³ä½¿æ•°æ®ä¸­æ²¡æœ‰å‡ºç°
- `observed=True`ï¼šåªåŒ…å«æ•°æ®ä¸­å®é™…å‡ºç°çš„åˆ†ç±»

åœ¨ä½ çš„ä¾‹å­ä¸­ï¼Œè™½ç„¶å®šä¹‰äº†ä¸‰ä¸ª categoriesï¼ˆè‹¹æœã€é¦™è•‰ã€æ¡ƒå­ï¼‰ï¼Œä½†å¦‚æœæŸä¸ªåˆ†ç±»åœ¨æ•°æ®ä¸­ä¸å­˜åœ¨ï¼Œè®¾ç½® observed=True å¯ä»¥é¿å…åœ¨ç»“æœä¸­æ˜¾ç¤ºç©ºçš„åˆ†ç»„ï¼Œæé«˜æ€§èƒ½ã€‚ä¸ä¿¡ä½ å¯ä»¥è¯•ä¸€ä¸‹ï¼Œå°†CategoricalIndexçš„dataä¸­çš„æŸä¸ªâ€œè‹¹æœâ€çš„åœ°æ–¹æ”¹ä¸ºä¸€ä¸ªæ— æ„ä¹‰çš„å­—ç¬¦ä¸²ï¼Œå› ä¸ºæœ‰categoriesçš„å­˜åœ¨ï¼Œä¸Šé¢çš„groupbyåçš„sumæ±‚å’Œæ“ä½œä¸ä¼šæŠŠè¿™ä¸ªæ— æ„ä¹‰çš„å­—ç¬¦ä¸²ç®—è¿›æ¥ï¼Œè€Œæ˜¯ç›¸åº”çš„ï¼Œè‹¹æœçš„æ•°é‡å˜å°‘äº†ï¼ˆå› ä¸ºå…¶ä¸­æœ‰ä¸€ä¸ªå˜æˆäº†æ— æ„ä¹‰çš„å­—ç¬¦ä¸²äº†ï¼‰

---

æŒ‡å®šç´¢å¼•çš„é¡ºåºã€‚

In [6]:
ser.index = index.reorder_categories(["é¦™è•‰", "æ¡ƒå­", "è‹¹æœ"])
ser.groupby(level=0, observed=True).sum()

é¦™è•‰    12
æ¡ƒå­     8
è‹¹æœ    19
dtype: int64

### å¤šçº§ç´¢å¼•

Pandas ä¸­çš„`MultiIndex`ç±»å‹ç”¨æ¥è¡¨ç¤ºå±‚æ¬¡æˆ–å¤šçº§ç´¢å¼•ã€‚å¯ä»¥ä½¿ç”¨`MultiIndex`ç±»çš„ç±»æ–¹æ³•`from_arrays`ã€`from_product`ã€`from_tuples`ç­‰æ¥åˆ›å»ºå¤šçº§ç´¢å¼•ï¼Œæˆ‘ä»¬ç»™å¤§å®¶ä¸¾å‡ ä¸ªä¾‹å­ã€‚

In [7]:
tuples = [(1, "red"), (1, "blue"), (2, "red"), (2, "blue")]
index = pd.MultiIndex.from_tuples(tuples, names=["no", "color"])
index

MultiIndex([(1,  'red'),
            (1, 'blue'),
            (2,  'red'),
            (2, 'blue')],
           names=['no', 'color'])

In [8]:
arrays = [[1, 1, 2, 2], ["red", "blue", "red", "blue"]]
index = pd.MultiIndex.from_arrays(arrays, names=["no", "color"])
index

MultiIndex([(1,  'red'),
            (1, 'blue'),
            (2,  'red'),
            (2, 'blue')],
           names=['no', 'color'])

## è¿™ä¸ªâ€œå¤šçº§ç´¢å¼•â€çš„å¤šçº§ä½“ç°åœ¨å“ªé‡Œï¼Ÿ
å¤šçº§ç´¢å¼•çš„"å¤šçº§"ä½“ç°åœ¨ç´¢å¼•å…·æœ‰å±‚æ¬¡ç»“æ„ï¼š
- ç¬¬ä¸€çº§ï¼ˆlevel=0ï¼‰: `no`åˆ— - å€¼ä¸º `[1, 1, 2, 2]`
- ç¬¬äºŒçº§ï¼ˆlevel=1ï¼‰: `color`åˆ— - å€¼ä¸º `["red", "blue", "red", "blue"]`

æ¯ä¸ªæ•°æ®ç‚¹çš„ç´¢å¼•ä¸æ˜¯å•ä¸€å€¼ï¼Œè€Œæ˜¯ä¸€ä¸ªå…ƒç»„ç»„åˆï¼š`(1, "red")ã€(1, "blue")ã€(2, "red")ã€(2, "blue")`

è¿™æ ·å¯ä»¥ç”¨`ä¸¤ä¸ªç»´åº¦æ¥å”¯ä¸€æ ‡è¯†æ•°æ®`ï¼Œç±»ä¼¼äºäºŒç»´è¡¨æ ¼çš„è¡Œåˆ—åæ ‡ç³»ç»Ÿã€‚åœ¨åˆ†ç»„æ—¶å¯ä»¥æŒ‰ä¸åŒçº§åˆ«åˆ†ç»„ï¼š
- `groupby(level=0)` â†’ æŒ‰ `no` åˆ†ç»„
- `groupby(level=1)` â†’ æŒ‰ `color` åˆ†ç»„

In [9]:
sales_data = np.random.randint(1, 100, 4)
ser = pd.Series(data=sales_data, index=index)
ser

no  color
1   red      47
    blue     73
2   red      14
    blue     55
dtype: int64

In [10]:
ser.groupby("no").sum()

no
1    120
2     69
dtype: int64

In [11]:
ser.groupby(level=1, observed=True).sum()  # level=1å°±æ˜¯æŒ‰ç…§coloråˆ†ç»„

color
blue    128
red      61
dtype: int64

In [12]:
stu_ids = np.arange(1001, 1006)
print(stu_ids)
semisters = ["æœŸä¸­", "æœŸæœ«"]
index = pd.MultiIndex.from_product((stu_ids, semisters), names=["å­¦å·", "å­¦æœŸ"])
print(index)
courses = ["è¯­æ–‡", "æ•°å­¦", "è‹±è¯­"]
scores = np.random.randint(60, 101, (10, 3))
df = pd.DataFrame(data=scores, columns=courses, index=index)
df

[1001 1002 1003 1004 1005]
MultiIndex([(1001, 'æœŸä¸­'),
            (1001, 'æœŸæœ«'),
            (1002, 'æœŸä¸­'),
            (1002, 'æœŸæœ«'),
            (1003, 'æœŸä¸­'),
            (1003, 'æœŸæœ«'),
            (1004, 'æœŸä¸­'),
            (1004, 'æœŸæœ«'),
            (1005, 'æœŸä¸­'),
            (1005, 'æœŸæœ«')],
           names=['å­¦å·', 'å­¦æœŸ'])

          è¯­æ–‡   æ•°å­¦  è‹±è¯­
å­¦å·   å­¦æœŸ
1001 æœŸä¸­  100   81  87
     æœŸæœ«   79   62  88
1002 æœŸä¸­   90   77  73
     æœŸæœ«   93   90  71
1003 æœŸä¸­   85  100  71
     æœŸæœ«   96  100  69
1004 æœŸä¸­   80   64  65
     æœŸæœ«   89   69  72
1005 æœŸä¸­   65   73  91
     æœŸæœ«   74   88  73

## ğŸ“š ä»£ç æ‰§è¡Œæµç¨‹è¯¦ç»†åˆ†æ

### ğŸ” æ•´ä½“ç›®æ ‡
è¿™æ®µä»£ç åˆ›å»ºäº†ä¸€ä¸ª**å­¦ç”Ÿæˆç»©è¡¨**ï¼Œä½¿ç”¨**å¤šçº§ç´¢å¼•**æ¥è¡¨ç¤ºä¸åŒå­¦ç”Ÿåœ¨ä¸åŒè€ƒè¯•æœŸé—´çš„æˆç»©æ•°æ®ã€‚

### ğŸ“‹ é€æ­¥æ‰§è¡Œæµç¨‹

#### ç¬¬1æ­¥ï¼šç”Ÿæˆå­¦å·æ•°ç»„
```python
stu_ids = np.arange(1001, 1006)
print(stu_ids)
```
**ä½œç”¨**: ç”Ÿæˆè¿ç»­çš„å­¦å·æ•°ç»„  
**è¾“å‡º**: `[1001 1002 1003 1004 1005]`  
**è¯´æ˜**: 5ä¸ªå­¦ç”Ÿï¼Œå­¦å·ä»1001åˆ°1005

#### ç¬¬2æ­¥ï¼šå®šä¹‰è€ƒè¯•å­¦æœŸ
```python
semisters = ["æœŸä¸­", "æœŸæœ«"]
```
**ä½œç”¨**: å®šä¹‰ä¸¤ä¸ªè€ƒè¯•æ—¶æœŸ  
**è¾“å‡º**: `["æœŸä¸­", "æœŸæœ«"]`

#### ç¬¬3æ­¥ï¼šåˆ›å»ºå¤šçº§ç´¢å¼• ğŸ¯
```python
index = pd.MultiIndex.from_product((stu_ids, semisters), names=["å­¦å·", "å­¦æœŸ"])
print(index)
```
**æ ¸å¿ƒåŠŸèƒ½**: `from_product()` åˆ›å»º**ç¬›å¡å°”ç§¯**  
**è¾“å‡º**:
```
MultiIndex([(1001, 'æœŸä¸­'),
            (1001, 'æœŸæœ«'),
            (1002, 'æœŸä¸­'),
            (1002, 'æœŸæœ«'),
            (1003, 'æœŸä¸­'),
            (1003, 'æœŸæœ«'),
            (1004, 'æœŸä¸­'),
            (1004, 'æœŸæœ«'),
            (1005, 'æœŸä¸­'),
            (1005, 'æœŸæœ«')],
           names=['å­¦å·', 'å­¦æœŸ'])
```

#### ç¬¬4æ­¥ï¼šå®šä¹‰è¯¾ç¨‹åˆ—
```python
courses = ["è¯­æ–‡", "æ•°å­¦", "è‹±è¯­"]
```
**ä½œç”¨**: è®¾å®šDataFrameçš„åˆ—å

#### ç¬¬5æ­¥ï¼šç”Ÿæˆéšæœºæˆç»©æ•°æ®
```python
scores = np.random.randint(60, 101, (10, 3))
```
**ä½œç”¨**: ç”Ÿæˆ10è¡ŒÃ—3åˆ—çš„éšæœºæ•´æ•°çŸ©é˜µ  
**èŒƒå›´**: 60-100åˆ†  
**ç»´åº¦**: (10, 3) â†’ 10ä¸ªç´¢å¼•ç»„åˆ Ã— 3é—¨è¯¾ç¨‹

#### ç¬¬6æ­¥ï¼šåˆ›å»ºæœ€ç»ˆDataFrame
```python
df = pd.DataFrame(data=scores, columns=courses, index=index)
```
**ç»“æœ**: å¤šçº§ç´¢å¼•çš„å­¦ç”Ÿæˆç»©è¡¨

### ğŸ”§ from_product() è¯¦è§£

#### ä»€ä¹ˆæ˜¯ç¬›å¡å°”ç§¯ï¼Ÿ
`from_product()` è®¡ç®—**ç¬›å¡å°”ç§¯**ï¼Œå³ä¸¤ä¸ªé›†åˆä¸­æ¯ä¸ªå…ƒç´ çš„æ‰€æœ‰å¯èƒ½ç»„åˆï¼š

```python
# è¾“å…¥ä¸¤ä¸ªåˆ—è¡¨
stu_ids = [1001, 1002, 1003, 1004, 1005]
semisters = ["æœŸä¸­", "æœŸæœ«"]

# from_product() ç”Ÿæˆæ‰€æœ‰ç»„åˆ
ç»“æœ = æ¯ä¸ªå­¦å· Ã— æ¯ä¸ªå­¦æœŸ
    = (1001, æœŸä¸­), (1001, æœŸæœ«), 
      (1002, æœŸä¸­), (1002, æœŸæœ«), 
      ... å…±10ä¸ªç»„åˆ
```

#### æ•°å­¦å…¬å¼
**æ€»ç»„åˆæ•° = len(stu_ids) Ã— len(semisters) = 5 Ã— 2 = 10**

### ğŸ“Š æœ€ç»ˆè¾“å‡ºç»“æ„
```
              è¯­æ–‡  æ•°å­¦  è‹±è¯­
å­¦å·   å­¦æœŸ              
1001  æœŸä¸­     XX   XX   XX
      æœŸæœ«     XX   XX   XX  
1002  æœŸä¸­     XX   XX   XX
      æœŸæœ«     XX   XX   XX
1003  æœŸä¸­     XX   XX   XX
      æœŸæœ«     XX   XX   XX
1004  æœŸä¸­     XX   XX   XX
      æœŸæœ«     XX   XX   XX
1005  æœŸä¸­     XX   XX   XX
      æœŸæœ«     XX   XX   XX
```

### ğŸ’¡ åº”ç”¨ä»·å€¼
- **æ•°æ®ç»„ç»‡**: æ¸…æ™°è¡¨ç¤ºå­¦ç”Ÿåœ¨ä¸åŒæ—¶æœŸçš„æˆç»©
- **åˆ†ç»„åˆ†æ**: å¯æŒ‰å­¦å·æˆ–å­¦æœŸè¿›è¡Œåˆ†ç»„ç»Ÿè®¡
- **æ•°æ®æŸ¥è¯¢**: æ”¯æŒå¤šå±‚çº§çš„æ•°æ®æ£€ç´¢

è¿™ç§ç»“æ„ç‰¹åˆ«é€‚åˆ**æ•™è‚²æ•°æ®åˆ†æ**ã€**æ—¶é—´åºåˆ—æ•°æ®**ç­‰éœ€è¦å¤šç»´åº¦ç´¢å¼•çš„åœºæ™¯ï¼

æ ¹æ®ç¬¬ä¸€çº§ç´¢å¼•åˆ†ç»„æ•°æ®ï¼ŒæŒ‰ç…§æœŸä¸­æˆç»©å `25%`ï¼ŒæœŸæœ«æˆç»©å `75%` çš„æ–¹å¼è®¡ç®—æ¯ä¸ªå­¦ç”Ÿæ¯é—¨è¯¾çš„æˆç»©ã€‚

In [13]:
df.groupby(level=0).agg(lambda x: x.values[0] * 0.25 + x.values[1] * 0.75)

         è¯­æ–‡      æ•°å­¦     è‹±è¯­
å­¦å·
1001  84.25   66.75  87.75
1002  92.25   86.75  71.50
1003  93.25  100.00  69.50
1004  86.75   67.75  70.25
1005  71.75   84.25  77.50

## è¿™é‡Œçš„åŒ¿åå‡½æ•°ä¸­çš„xå–åˆ°çš„æ˜¯ä»€ä¹ˆå€¼ï¼Ÿä¸ºä»€ä¹ˆå¯ä»¥x.valuesè¿™æ ·å»å–å€¼ï¼Ÿ
åœ¨è¿™ä¸ª `groupby().agg()` æ“ä½œä¸­ï¼š

`x` æ˜¯ä»€ä¹ˆï¼š
- `x` æ˜¯æ¯ä¸ªåˆ†ç»„ï¼ˆæŒ‰å­¦å·åˆ†ç»„ï¼‰åçš„ `Series` å¯¹è±¡
- å¯¹äºæ¯ä¸ªå­¦å·ï¼Œx åŒ…å«è¯¥å­¦ç”Ÿçš„æ‰€æœ‰æˆç»©æ•°æ®ï¼ˆæœŸä¸­+æœŸæœ«ï¼‰

ä¸ºä»€ä¹ˆå¯ä»¥ç”¨ `x.values`ï¼š
- x æ˜¯ pandas Seriesï¼Œ.values å±æ€§è¿”å›åº•å±‚çš„ NumPy æ•°ç»„
- ç”±äºæ¯ä¸ªå­¦ç”Ÿåªæœ‰2ä¸ªæˆç»©ï¼ˆæœŸä¸­ã€æœŸæœ«ï¼‰ï¼Œæ‰€ä»¥ x.values æ˜¯é•¿åº¦ä¸º2çš„æ•°ç»„
- x.values[0] = æœŸä¸­æˆç»©ï¼Œx.values[1] = æœŸæœ«æˆç»©

å…·ä½“ä¾‹å­ï¼š

å¯¹äºå­¦å·1001ï¼š
- x = Series([81, 76], index=['æœŸä¸­', 'æœŸæœ«'])
- x.values = array([81, 76])
- è®¡ç®—ï¼š81Ã—0.25 + 76Ã—0.75 = 77.25

è¿™ç§å†™æ³•åˆ©ç”¨äº† pandas Series çš„ .values å±æ€§æ¥å¿«é€Ÿè®¿é—®æ•°å€¼ï¼Œæ¯”ç”¨ç´¢å¼•æ›´ç®€æ´ã€‚

ä¹Ÿå°±æ˜¯è¯´ï¼š`x['æœŸä¸­'] == x.values[0]` å’Œ `x['æœŸæœ«'] == x.values[1]`

æ‰€ä»¥ä¸Šé¢çš„ä»£ç å®Œå…¨å¯ä»¥å†™æˆï¼š

`df.groupby(level=0).agg(lambda x: x['æœŸä¸­'] * 0.25 + x['æœŸæœ«'] * 0.75)`

åªä¸è¿‡ï¼Œx.values[0]çš„å†™æ³•æ›´åŠ ç®€æ´ï¼Œx['æœŸä¸­']è¿™æ ·çš„å†™æ³•æ›´åŠ è¯­ä¹‰åŒ–ï¼Œæ›´å¥½ç†è§£ã€‚

### é—´éš”ç´¢å¼•

é—´éš”ç´¢å¼•é¡¾åæ€ä¹‰æ˜¯ä½¿ç”¨å›ºå®šçš„é—´éš”èŒƒå›´å……å½“ç´¢å¼•ï¼Œæˆ‘ä»¬é€šå¸¸ä¼šä½¿ç”¨`interval_range`å‡½æ•°æ¥åˆ›å»ºé—´éš”ç´¢å¼•ï¼Œä»£ç å¦‚ä¸‹æ‰€ç¤ºã€‚

In [14]:
index = pd.interval_range(0, 5)
index

IntervalIndex([(0, 1], (1, 2], (2, 3], (3, 4], (4, 5]], dtype='interval[int64, right]')

`IntervalIndex`æœ‰ä¸€ä¸ªåä¸º`contains`çš„æ–¹æ³•ï¼Œå¯ä»¥æ£€æŸ¥èŒƒå›´å†…æ˜¯å¦åŒ…å«äº†æŸä¸ªå…ƒç´ ï¼Œå¦‚ä¸‹æ‰€ç¤ºã€‚

In [16]:
index.contains(1.5)

array([False,  True, False, False, False])

`IntervalIndex`è¿˜æœ‰ä¸€ä¸ªåä¸º`overlaps`çš„æ–¹æ³•ï¼Œå¯ä»¥æ£€æŸ¥ä¸€ä¸ªèŒƒå›´è·Ÿå…¶ä»–çš„èŒƒå›´æ˜¯å¦æœ‰é‡å ï¼Œå¦‚ä¸‹æ‰€ç¤ºã€‚

In [17]:
index.overlaps(pd.Interval(1.5, 3.5))

array([False,  True,  True,  True, False])

å¦‚æœå¸Œæœ›é—´éš”èŒƒå›´æ˜¯å·¦é—­å³å¼€çš„çŠ¶æ€ï¼Œå¯ä»¥åœ¨åˆ›å»ºé—´éš”ç´¢å¼•æ—¶é€šè¿‡`closed='left'`æ¥åšåˆ°ï¼›å¦‚æœå¸Œæœ›ä¸¤è¾¹éƒ½æ˜¯å…³é—­çŠ¶æ€ï¼Œå¯ä»¥å°†`close`å‚æ•°çš„å€¼èµ‹å€¼ä¸º`both`ï¼Œä»£ç å¦‚ä¸‹æ‰€ç¤ºã€‚

In [22]:
index = pd.interval_range(0, 5, closed="left")
index

IntervalIndex([[0, 1), [1, 2), [2, 3), [3, 4), [4, 5)], dtype='interval[int64, left]')

In [23]:
index = pd.interval_range(
    start=pd.Timestamp("2022-01-01"), end=pd.Timestamp("2022-01-04"), closed="both"
)
index

IntervalIndex([[2022-01-01 00:00:00, 2022-01-02 00:00:00],
               [2022-01-02 00:00:00, 2022-01-03 00:00:00],
               [2022-01-03 00:00:00, 2022-01-04 00:00:00]],
              dtype='interval[datetime64[ns], both]')

### æ—¥æœŸæ—¶é—´ç´¢å¼•

`DatetimeIndex`åº”è¯¥æ˜¯ä¼—å¤šç´¢å¼•ä¸­æœ€å¤æ‚æœ€é‡è¦çš„ä¸€ç§ç´¢å¼•ï¼Œæˆ‘ä»¬é€šå¸¸ä¼šä½¿ç”¨`date_range()`å‡½æ•°æ¥åˆ›å»ºæ—¥æœŸæ—¶é—´ç´¢å¼•ï¼Œè¯¥å‡½æ•°æœ‰å‡ ä¸ªéå¸¸é‡è¦çš„å‚æ•°`start`ã€`end`ã€`periods`ã€`freq`ã€`tz`ï¼Œåˆ†åˆ«ä»£è¡¨èµ·å§‹æ—¥æœŸæ—¶é—´ã€ç»“æŸæ—¥æœŸæ—¶é—´ã€ç”Ÿæˆå‘¨æœŸã€é‡‡æ ·é¢‘ç‡å’Œæ—¶åŒºã€‚æˆ‘ä»¬å…ˆæ¥çœ‹çœ‹å¦‚ä½•åˆ›å»º`DatetimeIndex`å¯¹è±¡ï¼Œå†æ¥è®¨è®ºå®ƒçš„ç›¸å…³è¿ç®—å’Œæ“ä½œï¼Œä»£ç å¦‚ä¸‹æ‰€ç¤ºã€‚

In [24]:
pd.date_range("2021-1-1", "2021-6-30", periods=10) # periodsï¼šå‘¨æœŸ

DatetimeIndex(['2021-01-01', '2021-01-21', '2021-02-10', '2021-03-02',
               '2021-03-22', '2021-04-11', '2021-05-01', '2021-05-21',
               '2021-06-10', '2021-06-30'],
              dtype='datetime64[ns]', freq=None)

In [33]:
pd.date_range("2021-1-1", "2021-6-30", freq="H")

/var/folders/hd/pwqcx5pn30g7jq6160hcf9fr0000gp/T/ipykernel_1230/2200560922.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  pd.date_range("2021-1-1", "2021-6-30", freq="H")

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00', '2021-01-01 03:00:00',
               '2021-01-01 04:00:00', '2021-01-01 05:00:00',
               '2021-01-01 06:00:00', '2021-01-01 07:00:00',
               '2021-01-01 08:00:00', '2021-01-01 09:00:00',
               ...
               '2021-06-29 15:00:00', '2021-06-29 16:00:00',
               '2021-06-29 17:00:00', '2021-06-29 18:00:00',
               '2021-06-29 19:00:00', '2021-06-29 20:00:00',
               '2021-06-29 21:00:00', '2021-06-29 22:00:00',
               '2021-06-29 23:00:00', '2021-06-30 00:00:00'],
              dtype='datetime64[ns]', length=4321, freq='h')

>**è¯´æ˜**ï¼š`freq=W`è¡¨ç¤ºé‡‡æ ·å‘¨æœŸä¸ºä¸€å‘¨ï¼Œå®ƒä¼šé»˜è®¤æ˜ŸæœŸæ—¥æ˜¯ä¸€å‘¨çš„å¼€å§‹ï¼›å¦‚æœä½ å¸Œæœ›æ˜ŸæœŸä¸€è¡¨ç¤ºä¸€å‘¨çš„å¼€å§‹ï¼Œä½ å¯ä»¥å°†å…¶ä¿®æ”¹ä¸º`freq=W-MON`ï¼›ä½ ä¹Ÿå¯ä»¥è¯•ç€å°†è¯¥å‚æ•°çš„å€¼ä¿®æ”¹ä¸º`12H`ï¼Œ`ME`ï¼Œ`Q`ç­‰ï¼Œçœ‹çœ‹ä¼šå‘ç”Ÿä»€ä¹ˆï¼Œç›¸ä¿¡ä½ ä¸éš¾çŒœåˆ°å®ƒä»¬çš„å«ä¹‰ã€‚

## freqèƒ½å¡«å“ªäº›å€¼ï¼Ÿ
freq å‚æ•°å¯ä»¥å¡«å†™ä»¥ä¸‹å¸¸ç”¨å€¼ï¼š

**æ—¶é—´é¢‘ç‡ï¼š**
- 'D' - å¤©
- 'W' - å‘¨ï¼ˆé»˜è®¤å‘¨æ—¥å¼€å§‹ï¼‰
- 'W-MON' - å‘¨ï¼ˆå‘¨ä¸€å¼€å§‹ï¼‰
- 'ME' - æœˆæœ« month end
- 'MS' - æœˆåˆ
- 'QE' - å­£åº¦æœ«
- 'QS' - å­£åº¦åˆ
- 'YE' - å¹´æœ«
- 'YS' - å¹´åˆ

**å°æ—¶é¢‘ç‡ï¼š**
- 'H' - å°æ—¶
- '12H' - 12å°æ—¶
- 'T' æˆ– 'min' - åˆ†é’Ÿ
- 'S' - ç§’
- 'L' æˆ– 'ms' - æ¯«ç§’
- 'U' æˆ– 'us' - å¾®ç§’
- 'N' æˆ– 'ns' - çº³ç§’

**åç§»åˆ«åï¼š**
- 'B' - å·¥ä½œæ—¥
- 'BM' - æœˆæœ«å·¥ä½œæ—¥
- 'BMS' - æœˆåˆå·¥ä½œæ—¥

**è‡ªå®šä¹‰é¢‘ç‡ï¼š**
- '2D' - æ¯2å¤©
- '3W' - æ¯3å‘¨
- '2H' - æ¯2å°æ—¶
è¿™äº›é¢‘ç‡å­—ç¬¦ä¸²å¯ä»¥ç»„åˆä½¿ç”¨ï¼Œå¦‚ 'W-MON' è¡¨ç¤ºä»¥å‘¨ä¸€ä¸ºå¼€å§‹çš„å‘¨é¢‘ç‡ã€‚

`DatatimeIndex`å¯ä»¥è·Ÿ`DateOffset`ç±»å‹è¿›è¡Œè¿ç®—ï¼Œè¿™ä¸€ç‚¹å¾ˆå¥½ç†è§£ï¼Œä»¥ä¸ºæˆ‘ä»¬å¯ä»¥è®¾ç½®ä¸€ä¸ªæ—¶é—´å·®è®©æ—¶é—´å‘å‰æˆ–å‘ååç§»ï¼Œå…·ä½“çš„æ“ä½œå¦‚ä¸‹æ‰€ç¤ºã€‚

In [38]:
index = pd.date_range("2021-1-1", "2021-6-30", freq="W-MON")
index
index - pd.DateOffset(days=2)

DatetimeIndex(['2021-01-02', '2021-01-09', '2021-01-16', '2021-01-23',
               '2021-01-30', '2021-02-06', '2021-02-13', '2021-02-20',
               '2021-02-27', '2021-03-06', '2021-03-13', '2021-03-20',
               '2021-03-27', '2021-04-03', '2021-04-10', '2021-04-17',
               '2021-04-24', '2021-05-01', '2021-05-08', '2021-05-15',
               '2021-05-22', '2021-05-29', '2021-06-05', '2021-06-12',
               '2021-06-19', '2021-06-26'],
              dtype='datetime64[ns]', freq=None)

## dateoffsetæœ‰ä»€ä¹ˆç”¨ï¼Ÿ
`DateOffset` æ˜¯ pandas ä¸­ç”¨äºæ—¶é—´åç§»æ“ä½œçš„å·¥å…·ï¼Œä¸»è¦ç”¨é€”åŒ…æ‹¬ï¼š

**æ ¸å¿ƒåŠŸèƒ½ï¼š**
- å¯¹æ—¶é—´åºåˆ—è¿›è¡Œç²¾ç¡®çš„æ—¶é—´åç§»è®¡ç®—
- æ”¯æŒå„ç§æ—¶é—´å•ä½ï¼ˆå¤©ã€å‘¨ã€æœˆã€å¹´ç­‰ï¼‰
- å¯ä»¥å‘å‰æˆ–å‘ååç§»æ—¶é—´

**å¸¸è§åº”ç”¨åœºæ™¯ï¼š**
1. æ—¶é—´è®¡ç®—ï¼šå¦‚ä½ çš„ä»£ç ä¸­ index - pd.DateOffset(days=2) å°†æ‰€æœ‰æ—¥æœŸå‘å‰åç§»2å¤©
2. å·¥ä½œæ—¥è®¡ç®—ï¼šè·³è¿‡å‘¨æœ«å’ŒèŠ‚å‡æ—¥
3. æœˆæœ«/æœˆåˆè°ƒæ•´ï¼šå°†æ—¥æœŸè°ƒæ•´åˆ°æœˆæœ«æˆ–æœˆåˆ
4. è‡ªå®šä¹‰æ—¶é—´é—´éš”ï¼šåˆ›å»ºä¸è§„åˆ™çš„æ—¶é—´åºåˆ—

**ä¼˜åŠ¿ï¼š**
- æ¯”ç®€å•çš„æ•°å€¼åŠ å‡æ›´æ™ºèƒ½ï¼ˆèƒ½å¤„ç†æœˆæœ«ã€é—°å¹´ç­‰ç‰¹æ®Šæƒ…å†µï¼‰
- æ”¯æŒå¤æ‚çš„æ—¶é—´åç§»è§„åˆ™
- ä¸ DatetimeIndex å®Œç¾é…åˆ

åœ¨ä½ çš„ç¤ºä¾‹ä¸­ï¼Œpd.DateOffset(days=2) ä¼šå°†æ•´ä¸ªæ—¶é—´åºåˆ—ä¸­çš„æ¯ä¸ªæ—¥æœŸéƒ½å‡å»2å¤©ï¼Œè¿™åœ¨æ•°æ®åˆ†æä¸­å¸¸ç”¨äºæ—¶é—´å¯¹é½æˆ–è®¡ç®—æ—¶é—´å·®ã€‚

In [39]:
index + pd.DateOffset(hours=2, minutes=10)

DatetimeIndex(['2021-01-04 02:10:00', '2021-01-11 02:10:00',
               '2021-01-18 02:10:00', '2021-01-25 02:10:00',
               '2021-02-01 02:10:00', '2021-02-08 02:10:00',
               '2021-02-15 02:10:00', '2021-02-22 02:10:00',
               '2021-03-01 02:10:00', '2021-03-08 02:10:00',
               '2021-03-15 02:10:00', '2021-03-22 02:10:00',
               '2021-03-29 02:10:00', '2021-04-05 02:10:00',
               '2021-04-12 02:10:00', '2021-04-19 02:10:00',
               '2021-04-26 02:10:00', '2021-05-03 02:10:00',
               '2021-05-10 02:10:00', '2021-05-17 02:10:00',
               '2021-05-24 02:10:00', '2021-05-31 02:10:00',
               '2021-06-07 02:10:00', '2021-06-14 02:10:00',
               '2021-06-21 02:10:00', '2021-06-28 02:10:00'],
              dtype='datetime64[ns]', freq=None)

å¦‚æœ`Series`å¯¹è±¡æˆ–`DataFrame`å¯¹è±¡ä½¿ç”¨äº†`DatetimeIndex`ç±»å‹çš„ç´¢å¼•ï¼Œæ­¤æ—¶æˆ‘ä»¬å¯ä»¥é€šè¿‡`asfreq()`æ–¹æ³•æŒ‡å®šä¸€ä¸ªæ—¶é—´é¢‘ç‡æ¥å®ç°å¯¹æ•°æ®çš„æŠ½æ ·ï¼Œæˆ‘ä»¬ä»ç„¶ä»¥ä¹‹å‰è®²è¿‡çš„ç™¾åº¦è‚¡ç¥¨æ•°æ®ä¸ºä¾‹ï¼Œç»™å¤§å®¶åšä¸€ä¸ªæ¼”ç¤ºã€‚

In [46]:
baidu_df = pd.read_excel("./2022å¹´è‚¡ç¥¨æ•°æ®.xlsx", sheet_name="BIDU", index_col="Date")
print(baidu_df)
baidu_df.sort_index(inplace=True)
baidu_df.asfreq("5D")

               Open      High     Low   Close   Volume
Date
2022-12-30  113.490  116.5000  113.15  114.38  1727642
2022-12-29  112.810  116.0600  111.30  115.10  1454617
2022-12-28  114.090  115.5300  109.88  111.60  1983757
2022-12-27  113.100  117.5000  112.48  116.48  2668445
2022-12-23  113.880  114.2500  111.52  111.61  1221825
...             ...       ...     ...     ...      ...
2022-01-07  152.980  157.0000  152.28  153.33  2751971
2022-01-06  146.195  153.0000  144.41  150.75  3839019
2022-01-05  143.820  150.2600  142.95  143.88  3505931
2022-01-04  148.140  148.4289  143.56  146.53  2876800
2022-01-03  148.910  149.9606  144.95  149.10  2330166

[251 rows x 5 columns]

              Open      High      Low   Close     Volume
Date
2022-01-03  148.91  149.9606  144.950  149.10  2330166.0
2022-01-08     NaN       NaN      NaN     NaN        NaN
2022-01-13  155.62  157.6400  152.310  152.51  3271577.0
2022-01-18  150.94  157.4300  149.610  152.94  3187153.0
2022-01-23     NaN       NaN      NaN     NaN        NaN
...            ...       ...      ...     ...        ...
2022-12-09  123.26  124.1100  119.585  119.99  3470483.0
2022-12-14  119.46  120.3500  117.530  119.22  2527860.0
2022-12-19  114.14  114.6000  111.190  112.08  2059607.0
2022-12-24     NaN       NaN      NaN     NaN        NaN
2022-12-29  112.81  116.0600  111.300  115.10  1454617.0

[73 rows x 5 columns]

å¤§å®¶å¯èƒ½æ³¨æ„åˆ°äº†ï¼Œæ¯5å¤©æŠ½å–1å¤©æœ‰å¯èƒ½ä¼šæŠ½ä¸­éäº¤æ˜“æ—¥ï¼Œé‚£ä¹ˆå¯¹åº”çš„åˆ—éƒ½å˜æˆäº†ç©ºå€¼ï¼Œä¸ºäº†è§£å†³è¿™ä¸ªé—®é¢˜ï¼Œåœ¨ä½¿ç”¨`asfreq`æ–¹æ³•æ—¶å¯ä»¥é€šè¿‡`method`å‚æ•°æ¥æŒ‡å®šä¸€ç§å¡«å……ç©ºå€¼çš„æ–¹æ³•ï¼Œå¯ä»¥å°†ç›¸é‚»çš„äº¤æ˜“æ—¥çš„æ•°æ®å¡«å…¥è¿›æ¥ã€‚

In [45]:
baidu_df.asfreq("5D", method="ffill")

              Open      High      Low   Close   Volume
Date
2022-01-03  148.91  149.9606  144.950  149.10  2330166
2022-01-08  152.98  157.0000  152.280  153.33  2751971
2022-01-13  155.62  157.6400  152.310  152.51  3271577
2022-01-18  150.94  157.4300  149.610  152.94  3187153
2022-01-23  162.53  164.9600  156.260  156.84  5463935
...            ...       ...      ...     ...      ...
2022-12-09  123.26  124.1100  119.585  119.99  3470483
2022-12-14  119.46  120.3500  117.530  119.22  2527860
2022-12-19  114.14  114.6000  111.190  112.08  2059607
2022-12-24  113.88  114.2500  111.520  111.61  1221825
2022-12-29  112.81  116.0600  111.300  115.10  1454617

[73 rows x 5 columns]

å½“ä½¿ç”¨`DatetimeIndex`ç´¢å¼•æ—¶ï¼Œæˆ‘ä»¬ä¹Ÿå¯ä»¥é€šè¿‡`resample()`æ–¹æ³•åŸºäºæ—¶é—´å¯¹æ•°æ®è¿›è¡Œé‡é‡‡æ ·ï¼Œç›¸å½“äºæ ¹æ®æ—¶é—´å‘¨æœŸå¯¹æ•°æ®è¿›è¡Œäº†åˆ†ç»„æ“ä½œï¼Œåˆ†ç»„ä¹‹åè¿˜å¯ä»¥è¿›è¡Œèšåˆç»Ÿè®¡ï¼Œä»£ç å¦‚ä¸‹æ‰€ç¤ºã€‚

In [50]:
baidu_df.resample("ME").mean()

                  Open        High         Low       Close        Volume
Date
2022-01-31  151.834250  155.501470  148.755630  152.183000  3.498542e+06
2022-02-28  157.680263  161.643947  155.390863  158.938947  2.688915e+06
2022-03-31  143.395217  148.291517  138.510143  142.973043  6.411250e+06
2022-04-30  130.035250  132.492250  126.301830  128.803000  3.579267e+06
2022-05-31  121.388571  124.888419  118.335552  121.821429  3.322147e+06
2022-06-30  145.988095  148.762329  143.066910  145.682857  3.442716e+06
2022-07-31  143.916500  146.410655  140.965030  144.106000  2.078316e+06
2022-08-31  137.376087  140.525000  134.869565  137.872174  2.556926e+06
2022-09-30  127.932857  129.994524  126.203410  127.929048  2.257403e+06
2022-10-31  101.171529  103.180000   98.575729  100.523810  3.975162e+06
2022-11-30   90.401905   92.960662   88.816119   90.919048  3.601258e+06
2022-12-31  114.969524  117.136900  112.689043  114.680000  3.406129e+06

In [55]:
baidu_df.resample("ME").agg(["mean", "min", "max"])

                  Open                         High                    \
                  mean      min     max        mean      min      max
Date
2022-01-31  151.834250  143.720  162.92  155.501470  146.670  165.020
2022-02-28  157.680263  140.010  165.75  161.643947  151.350  171.870
2022-03-31  143.395217  105.010  161.32  148.291517  113.500  170.350
2022-04-30  130.035250  110.720  150.61  132.492250  114.980  154.295
2022-05-31  121.388571  105.020  145.87  124.888419  110.955  146.990
2022-06-30  145.988095  136.680  155.19  148.762329  139.450  156.770
2022-07-31  143.916500  133.075  151.81  146.410655  137.380  156.690
2022-08-31  137.376087  129.770  154.27  140.525000  130.720  155.480
2022-09-30  127.932857  115.210  144.15  129.994524  119.120  145.910
2022-10-31  101.171529   77.500  124.22  103.180000   78.420  125.230
2022-11-30   90.401905   76.180  104.99   92.960662   80.090  109.880
2022-12-31  114.969524  107.300  123.26  117.136900  110.000  124.110

                   Low                          Close                  \
                  mean       min      max        mean     min     max
Date
2022-01-31  148.755630  139.1000  160.780  152.183000  143.73  162.03
2022-02-28  155.390863  137.0700  165.370  158.938947  149.82  167.35
2022-03-31  138.510143  102.1800  160.000  142.973043  108.38  162.86
2022-04-30  126.301830  110.3000  145.600  128.803000  111.93  153.80
2022-05-31  118.335552  101.6166  140.070  121.821429  106.09  140.35
2022-06-30  143.066910  130.5100  151.820  145.682857  131.88  155.24
2022-07-31  140.965030  131.0500  150.960  144.106000  136.57  154.69
2022-08-31  134.869565  127.0500  147.470  137.872174  128.33  151.02
2022-09-30  126.203410  115.1608  141.580  127.929048  117.49  144.48
2022-10-31   98.575729   73.5801  122.330  100.523810   76.57  123.30
2022-11-30   88.816119   75.7500  104.630   90.919048   78.13  108.60
2022-12-31  112.689043  106.5800  119.585  114.680000  108.11  120.33

                  Volume
                    mean      min       max
Date
2022-01-31  3.498542e+06  1907890   6628154
2022-02-28  2.688915e+06  1864828   4260277
2022-03-31  6.411250e+06  2942768  17773714
2022-04-30  3.579267e+06  2399134   6534788
2022-05-31  3.322147e+06  1648518   7224841
2022-06-30  3.442716e+06  1944555   5293688
2022-07-31  2.078316e+06  1224029   3206156
2022-08-31  2.556926e+06  1144496   9243776
2022-09-30  2.257403e+06  1676840   4042207
2022-10-31  3.975162e+06   874741  16008458
2022-11-30  3.601258e+06  1991505   7073554
2022-12-31  3.406129e+06  1221825  13024757

**æç¤º**ï¼šä¸çŸ¥å¤§å®¶æ˜¯å¦æ³¨æ„åˆ°ï¼Œä¸Šé¢è¾“å‡ºçš„`DataFrame` çš„åˆ—ç´¢å¼•æ˜¯ä¸€ä¸ª`MultiIndex`å¯¹è±¡ã€‚ä½ å¯ä»¥è®¿é—®ä¸Šé¢çš„`DataFrame`å¯¹è±¡çš„`columns`å±æ€§çœ‹çœ‹ã€‚

In [56]:
baidu_df.resample("ME").agg(["mean", "min", "max"]).columns

MultiIndex([(  'Open', 'mean'),
            (  'Open',  'min'),
            (  'Open',  'max'),
            (  'High', 'mean'),
            (  'High',  'min'),
            (  'High',  'max'),
            (   'Low', 'mean'),
            (   'Low',  'min'),
            (   'Low',  'max'),
            ( 'Close', 'mean'),
            ( 'Close',  'min'),
            ( 'Close',  'max'),
            ('Volume', 'mean'),
            ('Volume',  'min'),
            ('Volume',  'max')],
           )

In [61]:
# baidu_df = baidu_df.tz_localize("Asia/Chongqing") # tz_localize() ç”¨äºæ·»åŠ æ—¶åŒºä¿¡æ¯ï¼Œtz_convert() ç”¨äºè½¬æ¢æ—¶åŒºã€‚tz_localize() æ–¹æ³•åªèƒ½å¯¹æ²¡æœ‰æ—¶åŒºä¿¡æ¯çš„ DatetimeIndex ä½¿ç”¨ä¸€æ¬¡ã€‚ä¸€æ—¦ DatetimeIndex å·²ç»æœ‰æ—¶åŒºä¿¡æ¯ï¼Œå†æ¬¡è°ƒç”¨ tz_localize() å°±ä¼šæŠ¥é”™ã€‚
baidu_df

                              Open      High     Low   Close   Volume
Date
2022-01-03 00:00:00+08:00  148.910  149.9606  144.95  149.10  2330166
2022-01-04 00:00:00+08:00  148.140  148.4289  143.56  146.53  2876800
2022-01-05 00:00:00+08:00  143.820  150.2600  142.95  143.88  3505931
2022-01-06 00:00:00+08:00  146.195  153.0000  144.41  150.75  3839019
2022-01-07 00:00:00+08:00  152.980  157.0000  152.28  153.33  2751971
...                            ...       ...     ...     ...      ...
2022-12-23 00:00:00+08:00  113.880  114.2500  111.52  111.61  1221825
2022-12-27 00:00:00+08:00  113.100  117.5000  112.48  116.48  2668445
2022-12-28 00:00:00+08:00  114.090  115.5300  109.88  111.60  1983757
2022-12-29 00:00:00+08:00  112.810  116.0600  111.30  115.10  1454617
2022-12-30 00:00:00+08:00  113.490  116.5000  113.15  114.38  1727642

[251 rows x 5 columns]

åœ¨å¯¹æ—¶é—´æœ¬åœ°åŒ–ä»¥åï¼Œæˆ‘ä»¬å†ä½¿ç”¨`tz_convert()`æ–¹æ³•å°±å¯ä»¥å®ç°è½¬æ¢æ—¶åŒºï¼Œä»£ç å¦‚ä¸‹æ‰€ç¤ºã€‚

In [62]:
baidu_df.tz_convert("America/New_York")

                              Open      High     Low   Close   Volume
Date
2022-01-02 11:00:00-05:00  148.910  149.9606  144.95  149.10  2330166
2022-01-03 11:00:00-05:00  148.140  148.4289  143.56  146.53  2876800
2022-01-04 11:00:00-05:00  143.820  150.2600  142.95  143.88  3505931
2022-01-05 11:00:00-05:00  146.195  153.0000  144.41  150.75  3839019
2022-01-06 11:00:00-05:00  152.980  157.0000  152.28  153.33  2751971
...                            ...       ...     ...     ...      ...
2022-12-22 11:00:00-05:00  113.880  114.2500  111.52  111.61  1221825
2022-12-26 11:00:00-05:00  113.100  117.5000  112.48  116.48  2668445
2022-12-27 11:00:00-05:00  114.090  115.5300  109.88  111.60  1983757
2022-12-28 11:00:00-05:00  112.810  116.0600  111.30  115.10  1454617
2022-12-29 11:00:00-05:00  113.490  116.5000  113.15  114.38  1727642

[251 rows x 5 columns]